{% extends "::base.html.twig" %}

{% block title %}Trailburning About{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/static.css') }}" rel="stylesheet" type="text/css">
<link href="{{ asset('assets/css/about.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<script>
var TB_APP = 'BaseApp';
{% if app.user %}		
var TB_USER_ID = {{ app.user.id }};
{% endif %}
</script>

  <div id="def_header">  
    <div class="image_container fade_on_load"><img src="http://app.resrc.it/O=80/http://s3-eu-west-1.amazonaws.com/trailburning-assets/images/pages/wall.jpg" class="resrc scale" /></div>
    <div class="event_title">
      <h1 class="tb tb-title">We are</h1>
      <br/>
      <h1 class="tb tb-title">#Trailburning</h1>
    </div>      
  </div>    
    
  <div class="panel_content">          
    <div id="bigbar">
      {{ include('TBFrontendBundle:Default:breadcrumb.html.twig', breadcrumb) }}
      {{ include('TBFrontendBundle:Default:share.html.twig') }}
    </div>
    
    <div class="panel_intro">
      <h1 class="tb tb-title">What are we doing?</h1>
      <div class="desc">
        <h3 class="tb">Trailburning wants everyone to enjoy the world's trails.</h3>
        <h4 class="tb">
        Trailburning.com is dedicated to presenting and sharing the world's trails as a beautiful 'play back' experience. We think runners need a better way to discover new trails, but also to make their own trails. We are not completely focussed on trails just for runners, Trailburning is for everyone interested in trails – hikers, mountain bikers, skiers and walkers. 
        <br /><br />
        We are based in Berlin, which explains the image above, a part of the Berlin Wall that the team captured as a part of our own cycling trail.          
        </h4>
      </div>      
    </div>
  </div>
  
  <div class="guide_content">      
    <div class="content clearfix">      
      <h2>Discover and share Trail Cards</h2>
      <div class="left">            
      <img src="{{ asset('assets/img/guide_discover.png') }}">
      </div>
      <div class="right">
      <h3 class="tb">Trail Cards are unique trail experiences.</h3>
      <h4 class="tb">
      We wanted to make it easy to discover trails so we created Trail Cards. 
      <br /><br />
      Each card is an individual trail that presents a unique trail experience created by our community or the Trailburning crew. A Trail Card links to a photographic story of a trailer's run (or hike, walk, etc) – we think it's the best way to visualise trail maps.
      <br /><br />
	  Trailburning members create Trail Cards and share their personalised trails. It's as simple as recording a trail with a GPS enabled device and capturing photos along the way – then Trailburning combines the trail map with your photographs and voilà, you have a trail to share!
      </h4>      
      <div class="discover"><a href="{{ app.request.baseUrl }}/trails" class="btn btn-tb-action btn-tb-large">Discover Trails</a></div>      
      </div>
    </div>                  
  </div>
  
  <div class="footer_promote">
    <div class="image_container fade_on_load"><img src="http://app.resrc.it/O=80/http://s3-eu-west-1.amazonaws.com/trailburning-assets/images/pages/MarioColonel_Ultraks2.jpg" class="resrc scale" /></div>
    <div class="promote_title">
      <h1 class="tb tb-title">Make and Share Trails</h1>
      <div class="desc">Become a part of the Trailburning community</div>              
      <div class="signin"><a href="{{ app.request.baseUrl }}/register" class="btn btn-tb-action btn-tb-mega">Join</a></div>      
    </div>      
    <div class="tb-credit">Photo credit: © <a href="http://matterhorn.ultraks.com" target="_blank">matterhorn.ultraks.com</a> / Mario Colonel</div>    
  </div>
  	
{% endblock %}

{% block javascripts %}

{% endblock %}