{% extends "::base.html.twig" %}

{% block title %}Trailburning Ambassadors{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/static.css') }}" rel="stylesheet" type="text/css">
<link href="{{ asset('assets/css/ambassadors.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<script>
var TB_APP = 'BaseApp';
{% if app.user %}		
var TB_USER_ID = {{ app.user.id }};
{% endif %}
</script>

  <div id="def_header">  	  	
	  <div id="hero_images">  	
	    <div class="hero_image">
	      <div class="background">
      		<div class="image_container fade_on_load"><img data-src="http://app.resrc.it/O=80/http://assets.trailburning.com/images/ambassadors/ambassador3.jpg" class="resrc scale" /></div>
		  </div>
	  	</div>
	
	    <div class="hero_image">
	      <div class="background">
      		<div class="image_container fade_on_load"><img data-src="http://app.resrc.it/O=80/http://assets.trailburning.com/images/ambassadors/ambassador1.jpg" class="resrc scale" /></div>
	      </div>
	  	</div>
  	</div>

    <div class="event_title">
      <h1 class="tb tb-title">I'm #Trailburning</h1>
      <br/>
      <h1 class="tb tb-title">Ambassadors</h1>
    </div>      
  </div>    
    
  <div class="panel_content">
  	<div class="panel_ambassadors clearfix">
  		
  		<div class="ambassador clearfix">  			
			<div class="avatar">
				<div class="tb-avatar tb-avatar-feature"><div class="photo"><a href="{{ app.request.baseUrl }}/profile/philipshipman"><img src="http://assets.trailburning.com/images/profile/philipshipman/avatar.jpg"></a></div></div>
			</div>  			
  			<div class="ambassador-profile">  			
  				<div class="quote">
  					<p class="fancy"><span>"Appreciating the fullness of the natural world"</span></p>  					
  				</div>
  				<div class="ambassador-content">
					<div class="trailcards trail_card_sticker">      
						<div class="panel trail_card_panel">
							<div class="title"><h3 class="tb">Mountains</h3></div>
					        <a href="{{ app.request.baseUrl }}/trail/eas-a-chual-aluinn-scottish-highlands">
					        <div class="photo tb-photo-btn">
					        	<div class="image_container fade_on_load"><img src="http://app.resrc.it/o=80/http://media.trailburning.com/273/204c198ad0c6fc5fee05fc0997c892de622aa293.JPG" class="resrc scale" border="0"/></div>
					        	<div class="card_title">
								<h1>Eas a' Chual Aluinn</h1>
								<br>
								<h2>Scottish Highlands</h2>
					        	</div>
					       	</div>
					        </a>
							<div class="card_avatar">
				  	    		<div class="tb-avatar"><div class="photo"><a href="{{ app.request.baseUrl }}/profile/philipshipman"><img src="http://assets.trailburning.com/images/profile/philipshipman/avatar.jpg"></a></div></div>
							</div>	
					        <div class="summary">
								<div class="length">13 km</div>
								<div class="altitude">
								869 m D+
								<br/> 
							    878 m D-
								</div>
					        </div>
					 	</div>
	  				</div>
	  				<div class="details">
	  					<h3 class="tb">Phil Shipman</h3>
	  					<div class="home">
	  				  		<div class="location"></div>
	  				  		Highlands, <strong>Scotland</strong>
	  					</div>	  				
						I'm exceptionally fortunate to call the Highlands of Scotland home - and continually seek new wilderness adventures here by foot, bike and sea kayak. Occasionally enter ultra trail events, but only to give me an extra bit of motivation to get out there and discover new trails when the weather's being typically Scottish...
						<div class="profile_btn"><a href="{{ app.request.baseUrl }}/profile/philipshipman" class="btn btn-tb">Phil's Profile</a></div>					
	  				</div>
	  			</div>
  			</div>
  		</div>          
  		
  		<div class="ambassador clearfix">  			
			<div class="avatar">
				<div class="tb-avatar tb-avatar-feature"><div class="photo"><a href="{{ app.request.baseUrl }}/profile/lucamanetti"><img src="http://www.gravatar.com/avatar/c0d52d3a4d92fd9c957b47c98bce354b"></a></div></div>
			</div>  			
  			<div class="ambassador-profile">  			
  				<div class="quote">
  					<p class="fancy"><span>"No filters, just the essentials"</span></p>  					
  				</div>
  				<div class="ambassador-content">
					<div class="trailcards trail_card_sticker">      
						<div class="panel trail_card_panel">
							<div class="title"><h3 class="tb">Mountains</h3></div>
					        <a href="{{ app.request.baseUrl }}/trail/tamaro-lema-ticino-switzerland-1">
					        <div class="photo tb-photo-btn">
					        	<div class="image_container fade_on_load"><img src="http://app.resrc.it/o=80/http://media.trailburning.com/349/85e7d901983ce9df64343af7f3f2e901b02b416b.JPG" class="resrc scale" border="0"/></div>
					        	<div class="card_title">
								<h1>Tamaro-Lema</h1>
								<br>
								<h2>Ticino, Switzerland</h2>
					        	</div>
					       	</div>
					        </a>
							<div class="card_avatar">
				  	    		<div class="tb-avatar"><div class="photo"><a href="{{ app.request.baseUrl }}/profile/lucamanetti"><img src="http://www.gravatar.com/avatar/c0d52d3a4d92fd9c957b47c98bce354b"></a></div></div>
							</div>	
					        <div class="summary">
								<div class="length">31 km</div>
								<div class="altitude">
								1’907 m D+
								<br/> 
							    2’128 m D-
								</div>
					        </div>
					 	</div>
	  				</div>
	  				<div class="details">
	  					<h3 class="tb">Luca Manetti</h3>
	  					<div class="home">
	  				  		<div class="location"></div>
	  				  		Ticino, <strong>Switzerland</strong>
	  					</div>	  				
						I fell in love with trail running few years ago. Go out and discover new places and trails is what I like the most. Southern Switzerland, with its lakes, rivers and mountains is my home and offers me new opportunities every day. This keeps me happy and free.
						<div class="profile_btn"><a href="{{ app.request.baseUrl }}/profile/lucamanetti" class="btn btn-tb">Luca's Profile</a></div>					
	  				</div>
	  			</div>
  			</div>
  		</div>          

  		<div class="ambassador clearfix">  			
			<div class="avatar">
				<div class="tb-avatar tb-avatar-feature"><div class="photo"><a href="{{ app.request.baseUrl }}/profile/paultran"><img src="http://www.gravatar.com/avatar/5889ab29b92ea2bc3547770b9427310b"></a></div></div>
			</div>  			
  			<div class="ambassador-profile">  			
  				<div class="quote">
  					<p class="fancy"><span>"Addicted to running"</span></p>  					
  				</div>
  				<div class="ambassador-content">
					<div class="trailcards trail_card_sticker">      
						<div class="panel trail_card_panel">
							<div class="title"><h3 class="tb">Coast</h3></div>
					        <a href="{{ app.request.baseUrl }}/trail/marion-coastal-trail-south-australia">
					        <div class="photo tb-photo-btn">
					        	<div class="image_container fade_on_load"><img src="http://app.resrc.it/o=80/http://media.trailburning.com/312/f5198c71abb79b731e1507f79836bbce6c811945.JPG" class="resrc scale" border="0"/></div>
					        	<div class="card_title">
								<h1>Marion Coastal Trail</h1>
								<br>
								<h2>South Australia</h2>
					        	</div>
					       	</div>
					        </a>
							<div class="card_avatar">
				  	    		<div class="tb-avatar"><div class="photo"><a href="{{ app.request.baseUrl }}/profile/paultran"><img src="http://www.gravatar.com/avatar/5889ab29b92ea2bc3547770b9427310b"></a></div></div>
							</div>	
					        <div class="summary">
								<div class="length">8 km</div>
								<div class="altitude">
								307 m D+
								<br/> 
							    252 m D-
								</div>
					        </div>
					 	</div>
	  				</div>
	  				<div class="details">
	  					<h3 class="tb">Paul Tran</h3>
	  					<div class="home">
	  				  		<div class="location"></div>
	  				  		Adelaide, <strong>South Australia</strong>
	  					</div>	  				
						It started as an innocent 4km run between work and home about 5 years ago and slowly progressed to road marathons, triathlons, and now trail ultras. My name is Paul and I'm addicted to running.
						<div class="profile_btn"><a href="{{ app.request.baseUrl }}/profile/paultran" class="btn btn-tb">Paul's Profile</a></div>					
	  				</div>
	  			</div>
  			</div>
  		</div>          
		
	</div>                
  </div>
  
  <div class="promo_content">      
    <div class="line_break"></div>
    <div class="content clearfix">      
    	
  		<div class="ambassador clearfix">  			
			<div class="avatar">
				<div class="tb-avatar tb-avatar-feature"><div class="photo"><img src="http://assets.trailburning.com/images/icons/avatars/avatar_man.jpg"></div></div>
			</div>  			
  			<div class="ambassador-profile">  			
  				<div class="quote">
  					<p class="fancy"><span>"What makes you run?"</span></p>  					
  				</div>
  				<div class="ambassador-content">
					<div class="trailcards trail_card_sticker">      
				   	    <div class="panel trail_card_panel">
					      <div class="title"><h3 class="tb">New Trail</h3></div>
						  {% if app.user %}  	      
				            <a href="{{ path('profile', {'name': app.user.name}) }}">
		    	  		  {% else %}
				            <a href="{{ app.request.baseUrl }}/register">
		    	  		  {% endif %}
				          <div class="photo tb-photo-btn">
				            <div class="image_container fade_on_load"><img src="{{ asset('assets/img/editor/create.jpg') }}" class="scale" border="0"/></div>
					        <div class="card_title">
							  <h1>Ready to share</h1>
							  <br/>
							  <h1>your adventures?</h1>
					        </div>
				          </div>
				          </a>
					      <div class="summary">					      	
								<div class="length">-- km</div>
								<div class="altitude">
								--- m D+
								<br/> 
							    --- m D-
								</div>					      	
					      </div>
				        </div>
					 </div>		
	  				<div class="details">
	  					<h3 class="tb">Become our next Ambassador!</h3>
	  					<div class="home"></div>
	  					<p>	  				
	  					Are you evangelical about the trails you love?  Do you fancy a quality <a href="http://www.craft.se" onClick="trackOutboundLink(this, 'Outbound Links', 'craft.se'); return false;">Craft</a> Trailburning running shirt?
	  					</p>
	  					<p>
						Then you may want to consider joining our ambassador programme!
	  					</p>
	  					<p>
	  					 We're looking for trail runners to represent their local region.
	  					</p> 
						<div class="profile_btn"><a href="mailto:hello@trailburning.com" class="btn btn-tb-action">Apply Now</a></div>					
	  				</div>
	  			</div>
  			</div>
  		</div>          
		 					 	
    </div>                  
  </div>
    	
{% endblock %}

{% block javascripts %}

{% endblock %}