{% extends "::base.html.twig" %}

{% block title %}Trailburning Ambassadors{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/static.css') }}" rel="stylesheet" type="text/css">
<link href="{{ asset('assets/css/ambassadors.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<script>
var TB_APP = 'BaseApp';
{% if app.user %}		
var TB_USER_ID = {{ app.user.id }};
{% endif %}
</script>

  <div id="def_header">  	
    <div class="background">
      <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/O=80/http://s3-eu-west-1.amazonaws.com/trailburning-assets/images/ambassadors/ambassador1.jpg" class="resrc scale" /></div>
    </div>
    <div class="event_title">
      <h1 class="tb tb-title">I'm #Trailburning</h1>
      <br/>
      <h1 class="tb tb-title">Ambassadors</h1>
    </div>      
  </div>    
    
  <div class="panel_content">
  	<div class="panel_ambassadors">          
        <h4 class="tb">
        We're offering some great Trailburning running shirts from Swedish brand <a href="http://www.craft.se" onClick="trackOutboundLink(this, 'Outbound Links', 'craft.se'); return false;">Craft</a>,<br/>
        and copies of the latest <a href="http://www.likethewindmagazine.com" onClick="trackOutboundLink(this, 'Outbound Links', 'likethewindmagazine.com'); return false;">Like the Wind</a> magazine!
		</h4>
		
		<div class="trailcards trail_card_sticker">      
			<div class="panel trail_card_panel">
				<div class="title"><h3 class="tb">Mountains</h3></div>
		        <a href="{{ app.request.baseUrl }}/inspire/high/trail/motto-della-croce-capanna-bar-capriasca">
		        <div class="photo tb-photo-btn">
		        	<div class="image_container fade_on_load"><img src="http://app.resrc.it/o=80/http://s3-eu-west-1.amazonaws.com/trailburning-media/238/99337e0254d96cf25a4faaa24927c068547b2391.JPG" class="resrc scale" border="0"/></div>
		        	<div class="card_title">
		            <h1>Motto della Croce</h1>
		            <br />
		            <h1>Capriasca</h1>
		        	</div>
		       	</div>
		        </a>
		        <div class="summary">
	  	    		<div class="tb-avatar"><div class="photo"><a href="{{ app.request.baseUrl }}/profile/lucamanetti"><img src="http://www.gravatar.com/avatar/c0d52d3a4d92fd9c957b47c98bce354b"></a></div></div>
			        <div class="detail">
			        by <strong>Luca Manetti</strong>
			        <div class="stars">
			        	<div class="star_full"></div>
			            <div class="star_full"></div>
			            <div class="star_full"></div>
			            <div class="star_half"></div>
			            <div class="star"></div>
			        </div>
			        </div>
		        </div>
		 	</div>
		 </div>		
		
	</div>                
  </div>
  
  <div class="promo_content">      
    <div class="line_break"></div>
    <div class="content clearfix">      
      	<h1 class="tb tb-font">"What makes you run?"</h1>
      
		<div class="trailcards trail_card_sticker">      
	   	    <div class="panel trail_card_panel">
		      <div class="title"><h3 class="tb">New Trail</h3></div>
	          <a href="{{ path('trailmaker') }}">
	          <div class="photo tb-photo-btn">
	            <div class="image_container fade_on_load"><img src="{{ asset('assets/img/editor/create.jpg') }}" class="scale" border="0"/></div>
		        <div class="card_title">
				  <h1>Ready to share</h1>
				  <br/>
				  <h1>your adventures?</h1>
		        </div>
	          </div>
	          </a>
		      <div class="summary">
	  	    		<div class="tb-avatar"><div class="photo"><img src="http://assets.trailburning.com/images/icons/avatars/avatar_man.jpg"></div></div>
			        <div class="detail">
			        by <strong>You</strong>
			        <div class="stars">
			        	<div class="star_full"></div>
			            <div class="star_full"></div>
			            <div class="star_full"></div>
			            <div class="star_half"></div>
			            <div class="star"></div>
			        </div>
			        </div>
		        
		      </div>
	        </div>
		 </div>		
		 					 	
    </div>                  
  </div>
    	
{% endblock %}

{% block javascripts %}

{% endblock %}