{% extends "::base.html.twig" %}

{% block title %}Trailburning Competition{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/static.css') }}" rel="stylesheet" type="text/css">
<link href="{{ asset('assets/css/competition.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<script>
var TB_APP = 'BaseApp';
{% if app.user %}		
var TB_USER_ID = {{ app.user.id }};
{% endif %}
</script>

  <div id="def_header">  	
    <div class="background">
      <div class="image_container fade_on_load"><img src="http://tbassets.imgix.net//assets.trailburning.com/images/campaign/urbantrails/london/shutterstock_148485164.jpg?fm=jpg&q=80" class="scale imgix-fluid"/></div>
    </div>
{#	    
    <div class="foreground">
      <div class="image_container fade_on_load"><img src="http://assets.trailburning.com/images/competition/shirt.png" /></div>
    </div>
#}
    <div class="event_title">
      <a href="{{ app.request.baseUrl }}/urbantrails/london"><img src="http://assets.trailburning.com/images/campaign/urbantrails/london/logo_urbantrails_london.png" /></a>
      <br/>
	  {% if app.user %}  	      
	    <a href="{{ path('trailmaker') }}" class="btn btn-tb-action btn-tb-large">Add your Urban Trail</a>
	  {% else %}
  	    <a href="{{ app.request.baseUrl }}/tour" class="btn btn-tb-action btn-tb-large">Add your Urban Trail</a>
	  {% endif %}
    </div>      
    <div class="sponsors">
	  <ul>
	    <li><a href="http://www.likethewindmagazine.com" onClick="trackOutboundLink(this, 'Outbound Links', 'likethewindmagazine.com'); return false;"><img src="http://assets.trailburning.com/images/competition/sponsor_ltw.png" /></a></li>
	    <li><a href="http://www.ashmei.com" onClick="trackOutboundLink(this, 'Outbound Links', 'ashmei.com'); return false;"><img src="http://assets.trailburning.com/images/competition/sponsor_ashmei.png" /></a></li>
	    <li class="partner">competition partners</li>
	  </ul>
    </div>
  </div>    
    
  <div class="panel_content">          
    <div class="panel_intro">
      <div class="desc clearfix">
        <h3 class="tb">Publish an Urban Trail in London and win!</h3>        
        <h4 class="tb">
		A new way to discover city-based trails - launched at <a href="http://www.likethewindmagazine.com/popup" onClick="trackOutboundLink(this, 'Outbound Links', 'likethewindmagazine.com/popup'); return false;">Like The Wind’s Pop-Up Gallery</a> on the <strong>28th</strong> of <strong>October</strong> in London.        	
		</h4>                
		<h4 class="tb">
		<strong>Create an Urban Trail -</strong> Publish an urban trail in London.  Every trail selected by Urban Trails wins a <strong>£20</strong> gift voucher from <a href="http://www.ashmei.com" onClick="trackOutboundLink(this, 'Outbound Links', 'ashmei.com'); return false;">Ashmei</a>, simple as that!  The first 5 trails also receive the latest copy of <a href="http://www.likethewindmagazine.com" onClick="trackOutboundLink(this, 'Outbound Links', 'likethewindmagazine.com'); return false;">Like The Wind</a> magazine.  Not enough?  The best trail also wins an <a href="http://www.ashmei.com" onClick="trackOutboundLink(this, 'Outbound Links', 'ashmei.com'); return false;">Ashmei</a> Merino Running Sweatshirt!  		 
		</h4>
		
        <div class="prizes">
		  <div class="image_container fade_on_load"><a href="http://www.ashmei.com" onClick="trackOutboundLink(this, 'Outbound Links', 'ashmei.com'); return false;"><img src="http://assets.trailburning.com/images/competition/prize_ashmei.jpg" /></a></div>
		  <div class="image_container fade_on_load"><a href="http://www.likethewindmagazine.com" onClick="trackOutboundLink(this, 'Outbound Links', 'likethewindmagazine.com'); return false;"><img src="http://assets.trailburning.com/images/competition/prize_ltw3.jpg" /></a></div>
		</div>	
      </div>      
    </div>
  </div>
  
  <div class="guide_content">      
    <div class="line_break"></div>
    <div class="content clearfix">
      <div class="title"><h2>What you need to do</h2></div>      
      <div class="trailcards left">            
      
		<div class="panel trail_card trail_card_panel">
		  <div class="title"><h3 class="tb">Canal</h3></div>
	      <a href="/trail/regent-s-canal-london">
	      <div class="photo tb-photo-btn">
			<div class="image_container fade_on_load"><img src="http://tbmedia.imgix.net//media.trailburning.com/288/9ee9b1fd51ec603cbe8d3a2fa867a19f9fb902f9.jpg" class="scale imgix-fluid"/></div>	      	
			<div class="card_title">
			<h1>Regent's Canal</h1>
			<br>
			<h2>London</h2>
			<br>
			<h2><div class="stars"><span class="star_full"></span><span class="star_half"></span></div></h2>
			</div>
	      </div>
	      </a>
		  <div class="card_avatar">
      	    <div class="tb-avatar"><div class="photo"><a href="profile/mattallbeury"><img src="http://www.gravatar.com/avatar/e426b949d824bc81fe01caf1ad88abd7"></a></div></div>
		  </div>	      
		  <div class="summary">
			<div class="length">11 km</div>
			<div class="altitude">
			78m D+
			<br/> 
		    102m D-
			</div>
		  </div>
	    </div>      
		 					 	
      </div>
      <div class="right">
        <h4 class="tb">
      	To win all you need to do is:
		<ol>
		  <li>Create an account on Trailburning.</li>
		  <li>Record a trail with your favourite running app (Strava, MapMyRun) or device (Garmin, Suunto).</li>
		  <li>Take a few photos to show off your trail, and publish on Trailburning.</li>
		  <li>Any London trail selected to appear on Urban Trails will win!</li>
		</ol>
        </h4>      

        <h5 class="tb">
      	The small print - one prize pack per person.
        </h5>
        
        <div class="discover">      	
	    {% if app.user %}  	      
  	      <a href="{{ path('trailmaker') }}" class="btn btn-tb-action btn-tb-large">Add your Urban Trail</a>
	    {% else %}
  	      <a href="{{ app.request.baseUrl }}/tour" class="btn btn-tb-action btn-tb-large">Add your Urban Trail</a>
	    {% endif %}
      	</div>                
      </div>
    </div>                  
  </div>
    	
{% endblock %}

{% block javascripts %}

{% endblock %}