{% extends "::base.html.twig" %}

{% block title %}Trailburning{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/home.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<script>
var TB_APP = 'HomeApp';
{% if app.user %}		
var TB_USER_ID = {{ app.user.id }};
{% endif %}
</script>

  <div id="home_header">  	

    <div class="hero_image">
      <div class="background">
        <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/o=80/http://assets.trailburning.com/images/campaign/urbantrails/london/8972edd96f999eabf6612d18d9bc2d2b042db5c8.jpg" class="resrc scale" /></div>
      </div>
  	</div>
  	

    <div class="hero_image">
      <div class="background">
        <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/o=80/http://assets.trailburning.com/images/profile/mtbuller/LM_131120_MtBuller_0311.jpg" class="resrc scale" /></div>
      </div>
  	</div>
  	
    <div class="hero_image">
      <div class="background">
        <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/o=80/http://assets.trailburning.com/images/editorial/wild/image_edited2.jpg" class="resrc scale" /></div>
      </div>
  	</div>
  	
    <div class="hero_image">
      <div class="background">
        <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/o=80/http://assets.trailburning.com/images/editorial/highlands/313593cc63d7cec329eaaaefe2f65eed47488abc.JPG" class="resrc scale" /></div>
      </div>
  	</div>
  	
    <div class="hero_image">
      <div class="background">
        <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/o=80/http://assets.trailburning.com/images/editorial/high/4c8173930a2c99ded2e59d66d2627b46825d9c24.jpg" class="resrc scale" /></div>
      </div>
  	</div>

	<div class="hero_nav">
	  <div class="button" data-slide="0"></div><div class="button" data-slide="1"></div><div class="button" data-slide="2"></div><div class="button" data-slide="3"></div><div class="button" data-slide="4"></div>
	</div>

    <div class="hero_overlay" data-url="{{ app.request.baseUrl }}/competition">
      <div class="left">
    	<div class="title feature">
{#	
      	<h1 class="tb tb-title">Rediscover your</h1>
      	<br/>
      	<h1 class="tb tb-title">city runs</h1>
      	<br/>
		<div class="hero_btn"><a href="{{ app.request.baseUrl }}/competition" class="btn btn-tb-action btn-tb-large">Visit Urban Trails</a></div>      	
#}    		
      	<h1 class="tb tb-title">Bag a London</h1>
      	<br/>
      	<h1 class="tb tb-title">trail to win!</h1>
      	<br/>
		<div class="hero_btn"><a href="{{ app.request.baseUrl }}/competition" class="btn btn-tb-action btn-tb-large">Find out more</a></div>      	

    	</div>
	  </div>			  
	  <div class="right">
	  	<a href="{{ app.request.baseUrl }}/campaign/urbantrails-london"><img src="http://assets.trailburning.com/images/campaign/urbantrails/london/logo_urbantrails_london.png"></a>
      </div>
	  <div class="tb-credit">Photo credit: © Nick Baber</div>
	  <div class="sponsor_content">
	  </div>  	
  	</div>
  	  	
    <div class="hero_overlay" data-url="{{ app.request.baseUrl }}/profile/mtbuller">
      <div class="left">
    	<div class="title feature">
      	<h1 class="tb tb-title">Discover</h1>
      	<br/>
      	<h1 class="tb tb-title">Mt Buller Trails</h1>
      	<br/>
		<div class="hero_btn"><a href="{{ app.request.baseUrl }}/profile/mtbuller" class="btn btn-tb-action btn-tb-large">Go and Run Buller</a></div>      	
    	</div>
	  </div>			  
	  <div class="right">
	  	<a href="{{ app.request.baseUrl }}/profile/mtbuller"><img src="http://assets.trailburning.com/images/profile/mtbuller/logo.png"></a>
      </div>
	  <div class="tb-credit"></div>
	  <div class="sponsor_content">
	  </div>  	
  	</div>
  	  	
    <div class="hero_overlay" data-url="{{ app.request.baseUrl }}/inspire/wild">
      <div class="left">
    	<div class="title feature">
      	<h1 class="tb tb-title">Running wild in the</h1>
      	<br/>
      	<h1 class="tb tb-title">South Australian bush</h1>
      	<br/>
	  	<div class="author">by <strong>Matt Allbeury</strong></div>	      
      	<div class="hero_btn"><a href="inspire/wild" class="btn btn-tb-inspire"><div class="tb-logo"></div> Inspire</a></div>
    	</div>
	  </div>			  
	  <div class="right">
	  	<a href="profile/mattallbeury">  
    	<div class="tb-avatar feature_avatar">
      		<div class="photo"><img src="http://www.gravatar.com/avatar/e426b949d824bc81fe01caf1ad88abd7"></div>
    	</div>		    	
    	</a>
      </div>
	  <div class="tb-credit"></div>
	  <div class="sponsor_content">
	    <div class="brand">
		  <div class="strap">brought to you by</div>
		  <div class="logo"><a href="{{ app.request.baseUrl }}/profile/ashmei"><img src="http://assets.trailburning.com/images/profile/ashmei/editorial_sponsor_logo_big.png" border="0"></a></div>
	    </div>
	  </div>  	
  	</div>
  	  	
    <div class="hero_overlay" data-url="{{ app.request.baseUrl }}/inspire/highlands">
      <div class="left">
    	<div class="title feature">
      	<h1 class="tb tb-title">Finding solace in the</h1>
      	<br/>
      	<h1 class="tb tb-title">Scottish Highlands</h1>
      	<br/>
	  	<div class="author">by <strong>Phil Shipman</strong></div>	      
      	<div class="hero_btn"><a href="inspire/highlands" class="btn btn-tb-inspire"><div class="tb-logo"></div> Inspire</a></div>
    	</div>
	  </div>			  
	  <div class="right">
	  	<a href="profile/philipshipman">  
    	<div class="tb-avatar feature_avatar">
      		<div class="photo"><img src="http://assets.trailburning.com/images/profile/philipshipman/avatar.jpg"></div>
    	</div>		    	
    	</a>
      </div>
	  <div class="tb-credit"></div>
	  <div class="sponsor_content">
	    <div class="brand">
		  <div class="strap">brought to you by</div>
		  <div class="logo"><a href="{{ app.request.baseUrl }}/profile/ashmei"><img src="http://assets.trailburning.com/images/profile/ashmei/editorial_sponsor_logo_big.png" border="0"></a></div>
	    </div>
	  </div>  	
  	</div>
  	  	
    <div class="hero_overlay" data-url="{{ app.request.baseUrl }}/inspire/high">
      <div class="left">
    	<div class="title feature">
      	<h1 class="tb tb-title">'Getting High' in the</h1>
      	<br/>
      	<h1 class="tb tb-title">Southern Alps</h1>
      	<br/>
	  	<div class="author">by <strong>Luca Manetti</strong></div>	      
      	<div class="hero_btn"><a href="inspire/high" class="btn btn-tb-inspire"><div class="tb-logo"></div> Inspire</a></div>
    	</div>
	  </div>			  
	  <div class="right">
	  	<a href="profile/lucamanetti">  
    	<div class="tb-avatar feature_avatar">
      		<div class="photo"><img src="http://www.gravatar.com/avatar/c0d52d3a4d92fd9c957b47c98bce354b"></div>
    	</div>		    	
    	</a>
      </div>
	  <div class="tb-credit"></div>
	  <div class="sponsor_content">
	    <div class="brand">
		  <div class="strap">brought to you by</div>
		  <div class="logo"><a href="http://www.likethewindmagazine.com/" target="_blank"><img src="http://assets.trailburning.com/images/profile/likethewind/home_sponsor_logo.png" border="0"></a></div>	
	    </div>
	  </div>  	
  	</div>
  	
  	<div id="tb-loader-overlay">
  	  <div class="back"></div>
	  <div class="tb-loader"><div class="spinner"></div><div class="middle">...</div></div>
  	</div>  	
  	  	  	  	  	  	
  </div>    

  <div class="discover_content">
    <div class="content clearfix">        	
	  	<h2 class="tb">Discover New Trails</h2>
	  	<div class="desc">
	  	  <h4 class="tb">Get inspired by the latest trails shared in the Trailburning Community</h4>	
	  	</div>
        
        {{ render(controller('TBFrontendBundle:Trail:homepageTrails')) }}
            	  	
	  	<div class="more_btn"><a href="{{ app.request.baseUrl }}/map/trails" class="btn btn-tb btn-tb-small">More Trails</a></div>
    </div>                
  </div>                
    
  <div class="trails_content">
  	<div class="line_break"></div>
  	<div class="content">

        {% if app.user %}
            {{ render(controller('TBFrontendBundle:Trail:homepageUserTrails')) }}
        {% endif %}

      <h2 class="tb tb-title">Upcoming Events</h2>
      <div class="desc"><h4 class="tb">Trailburning keeps you updated on trail events all around the world</h4></div>      

        {{ render(controller('TBFrontendBundle:Event:homepageEvents')) }}

	  	<div class="more_btn"><a href="{{ app.request.baseUrl }}/events" class="btn btn-tb btn-tb-small">More Events</a></div>

	    <div class="trailers">
	      <h2 class="tb tb-title">Welcome new Trailburners!</h2>
          
          {{ render(controller('TBFrontendBundle:Profile:homepageUser')) }}
          
		</div>

    </div>
  </div>
  
  <div class="guide_content clearfix">      
    <div class="content">      
      <h2 class="tb title">Make your own Trail Card</h2>
      <div class="desc"><h4 class="tb">Create Trail Cards to present your own trail adventures</h4></div>  
      <div class="guide_items clearfix">
        <div class="guide_item">
          <div class="guide_image"><img src="{{ asset('assets/img/guide_record.png') }}"></div>          
          <h2 class="tb title">Record</h2>
          <h4 class="tb">Capture trails with a GPS enabled device and camera</h4>
        </div>                  
        <div class="guide_item">
          <div class="guide_image"><img src="{{ asset('assets/img/guide_share.png') }}"></div>
          <h2 class="tb title">Share</h2>
          <h4 class="tb">Make a Trail Card and present your experience</h4>
        </div>                  
        <div class="guide_item">
          <div class="guide_image"><img src="{{ asset('assets/img/guide_inspire.png') }}"></div>
          <h2 class="tb title">Inspire</h2>
          <h4 class="tb">Be an inspiration and get inspired by other trailers</h4>
        </div>                  
      </div>
      <div class="join"><a href="{{ app.request.baseUrl }}/tour" class="btn btn-tb-action btn-tb-mega">How does it work?</a></div>                        
    </div>                  
  </div>

{% endblock %}

{% block javascripts %}

<script type="text/template" id="homeHeroViewTemplate">
</script>

{% endblock %}