<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="{% block og_title %}Trailburning{% endblock %}"/>
        <meta property="og:url" content="{% block og_url %}http://www.trailburning.com{% endblock %}"/>
        <meta property="og:image" content="{% block og_image %}http://www.trailburning.com{% endblock %}"/>
        <title>Journey</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="http://fonts.googleapis.com/css?family=Signika:400,300,700" rel="stylesheet">

        <link href="{{ asset('assets/css/tp_bootstrap.min.css') }}" rel="stylesheet" type="text/css">

        <link href="{{ asset('assets/css/journeytour/journeytour.css') }}" rel="stylesheet">

        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-45211566-1']);
            _gaq.push(['_trackPageview']);
            
            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

            function trackOutboundLink(link, category, action) { 
              try { _gaq.push(['_trackEvent', category , action]); } catch(err){}   
              setTimeout(function() {window.open(link.href, '_blank');}, 100);
            }
            var TB_RESTAPI_BASEURL = '{{ api_host }}';
            var TB_APP = 'JourneyTourApp';
            var TB_DATA = '{{ asset('assets/data') }}';
        </script>
    </head>
    <body>

    <div class="app-view">
      <div class="container-fluid">
        <div class="rowFullWidth">
          <div class="col-lg-12 col-md-12 col-sm-12 header main">
            <div class='image-container fade-on-load'><img src='{{ asset('assets/img/temp/tb_headerimage.jpeg') }}' class='scale'></div>

            <div class="logo"><a href="http://www.trailburning.com">Home</a></div>

            <div class="header-text-container">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 title">
                  <h1>Make any location your branded experience with Trailburning® Engage + Journey.</h1>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 description">
              <h1>Use location to engage your audience.</h1>
              <h2>
              Location-based services are a big part of people's lives. The <strong>Trailburning® Engage + Journey</strong> platform transforms specific locations into an engaging, branded story. 
              </h2>
            </div>
          </div>
        </div>

        <div class="rowFullWidth">
          <div class="col-lg-12 col-md-12 col-sm-12 header header-break">
            <div class='image-container fade-on-load'><img src='{{ asset('assets/img/temp/tb_slice_1.jpg') }}' class='scale'></div>
            <div class="header-text-container">
              <div class="container">
                <div class="row">
                  <div class="col-lg-7 col-md-7 col-sm-7 title">
                  <h1>Our platform. Your Story.</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 description">
            <h1>
            Location is more than a place on a map, it’s a story.
            </h1>
            <h2>
            <strong>Trailburning® Engage + Journey</strong> is used to create branded, location-based digital products, websites and apps. We combine content and maps in new ways, to create branded road trips and retail tours for destination marketing, or content communities that can showcase any activity, such as ski trails or running routes.
            </h2>
            </div>

            <div class="col-lg-7 col-md-7 col-sm-12 journey-panel">
            <img src="{{ asset('assets/img/temp/tb_journey_idea.png') }}" class="img-responsive">
            </div>

            <div class="col-lg-5 col-md-5 col-sm-12 highlight-panel">
            <h1>25zero</h1>
            <p>
            Narrative journey.<br/>
            3D rendered, interactive scene.<br/>
            API-powered iPhone App.
            </p>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 journey-panel">
            <img src="{{ asset('assets/img/temp/tb_journey_idea.png') }}" class="img-responsive">
            </div>

            <div class="col-lg-5 col-md-5 col-sm-12 highlight-panel">
            <h1>Trail Running Community</h1>
            <p>
            Fully-featured community.<br/>
            Crowdsourced running routes (content).<br/>
            Geolocation discovery and exploration.
            </p>
            </div>
          </div>
        </div>

        <div class="rowFullWidth">
          <div class="col-lg-12 col-md-12 col-sm-12 header header-break">
            <div class='image-container fade-on-load'><img src='{{ asset('assets/img/temp/tb_slice_2.jpg') }}' class='scale'></div>
            <div class="header-text-container">
              <div class="container">
                <div class="row">
                  <div class="col-lg-7 col-md-7 col-sm-7 title">
                  <h1>Trailburning® technology</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 description">
              <h1>Trailburning® Engage + Journey Platform</h1>
              <h2>
              <strong>Trailburning's</strong> platform really understands 'location'. It's integrated with geo-spatial technology - it knows the distance from point-to-point, it understands 3D space, relative distances and proximities. The platform can be used to launch an online community and manage, deliver and publish custom location-based experiences. 
              </h2>

              <div class="list">
              <h1>
              Narrative maps
              <h2>
              Road trips, wine and food trails<br/>
              City tours<br/>
              Regional guides
              </h2>

              <h1>
              Tours
              </h1>
              <h2>
              Art galleries and museums tours<br/>
              Retail tours<br/>
              Laneway and cityscape tours
              </h2>
              </div>
            </div>
          </div>
        </div>

        <div class="rowFullWidth">
          <div class="col-lg-12 col-md-12 col-sm-12 header header-break">
            <div class='image-container fade-on-load'><img src='{{ asset('assets/img/temp/tb_slice_3.jpg') }}' class='scale'></div>
            <div class="header-text-container">
              <div class="container">
                <div class="row">
                  <div class="col-lg-7 col-md-7 col-sm-7 title">
                  <h1>Working with Trailburning®</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 description">
              <h1>Create compelling location experiences</h1>
              <h2>
              Work directly with <strong>Trailburning®</strong> to create a custom location-based experience or we can work with your agency. 
              </h2>

            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 summary">
              <h1>Contact</h1>
              <p>
              <a href="mailto:hello@trailburning.com">hello@trailburning.com</a>
              </p>
            </div>

          </div>
        </div>

      </div>

      <div id="footerview">
          <div class="left">
            <div class="copyright">Copyright © 2015, Augmented Media Projects Ltd</div>    
            <div class="links">
              <div class="link"><a href="{{ app.request.baseUrl }}/about">About</a></div>
              <div class="link"><a href="{{ app.request.baseUrl }}/presskit">Press Kit</a></div>
            </div>
          </div>
          <div class="right">
              <div class="social email"><a href="mailto:hello@trailburning.com" class="button btnEmail">Email</a></div>
              <div class="social facebook"><a href="http://www.facebook.com/trailburning" target="_blank" class="button btnFacebook">Facebook</a></div>
              <div class="social twitter"><a href="http://www.twitter.com/trailburning" target="_blank" class="button btnTwitter">Twitter</a></div>
              <div class="social googleplus"><a href="https://plus.google.com/+Trailburning/posts" target="_blank" class="button btnGooglePlus">Google+</a></div>
          </div>
      </div>              

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ asset('assets/js/libs/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/libs/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ asset('assets/js/libs/image-scale.min.js') }}"></script>

    <script data-main="{{ asset('assets/js/main') }}" src="{{ asset('assets/js/libs/require.js') }}"></script>
    </body>
</html>
