{% if url is not defined  %}
    {% set url = url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% endif %}
{% if text is not defined  %}
    {% set text = 'Are you trailburning?' %}
{% endif %}

<div class="compact_share btn-group dropup">
  <a class="btn btn-primary btn-tb-action btn-tb dropdown-toggle" data-toggle="dropdown" href="#">Share <span class="caret"></span></a>
  <ul class="dropdown-menu pull-right">
	<li class="clearfix"><a href="http://www.facebook.com/share.php?u={{ url|url_shareable }}" target="_blank" class="clearfix"><div class="logo"><img src="{{ asset('assets/icons/share/share_facebook.png') }}"></div><div class="detail">Facebook</div></a></li>
	<li class="clearfix"><a href="https://plus.google.com/share?url={{ url|url_shareable }}" target="_blank" class="clearfix"><div class="logo"><img src="{{ asset('assets/icons/share/share_googleplus.png') }}"></div><div class="detail">Google+</div></a></li>
	<li class="clearfix"><a href="http://twitter.com/share?text={{ text|url_encode }}&url={{ url|url_shareable }}" target="_blank" class="clearfix"><div class="logo"><img src="{{ asset('assets/icons/share/share_twitter.png') }}"></div><div class="detail">Twitter</div></a></li>
  </ul>
</div>                 

{% if app.user.id %}
	{% if app.user.id != user.id %}
		<div class="follow"><a href="javascript:void(0)" class="btn btn-tb-action btn-tb like_btn{% if user_is_following(app.user, user) %} pressed-btn-tb{% endif %}" data-off="Follow" data-on="Following" data-firstname="{{ user.firstname}}" data-userid="{{ user.id}}"><i class="icon-star icon-white"></i> <span class="btn-label">{% if user_is_following(app.user, user) %}Following{% else %}Follow{% endif %} {{ user.firstname}}</span></a></div>
	{% endif %}
{% else %}
		<div class="follow"><a href="javascript:void(0)" class="btn btn-tb-action btn-tb like_btn" data-off="Follow" data-on="Following" data-firstname="{{ user.firstname}}" data-userid="{{ user.id}}"><i class="icon-star icon-white"></i> <span class="btn-label">Follow {{ user.firstname}}</span></a></div>
{% endif %}