<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="{% block og_title %}Trailburning{% endblock %}"/>
        <meta property="og:url" content="{% block og_url %}http://beta.trailburning.com{% endblock %}"/>
        <meta property="og:image" content="{% block og_image %}http://beta.trailburning.com{% endblock %}"/>
        <title>Trail Player Tour</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="http://fonts.googleapis.com/css?family=Signika:400,300,700" rel="stylesheet">

        <link href="{{ asset('assets/css/tp_bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/trailplayertour/roboto.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/trailplayertour/material-fullpalette.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/trailplayertour/ripples.min.css') }}" rel="stylesheet">
        <link href='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.css' rel='stylesheet' />
        <link href="{{ asset('assets/royalslider/skins/default/rs-default.css') }}" rel="stylesheet"> 

        <link href="{{ asset('assets/css/trailplayertour/map.css') }}" rel='stylesheet' />
        <link href="{{ asset('assets/css/trailplayertour/trailplayertour.css') }}" rel="stylesheet">

        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-45211566-1']);
            _gaq.push(['_trackPageview']);
            
            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

            function trackOutboundLink(link, category, action) { 
              try { _gaq.push(['_trackEvent', category , action]); } catch(err){}   
              setTimeout(function() {window.open(link.href, '_blank');}, 100);
            }
            var TB_RESTAPI_BASEURL = '{{ api_host }}';
            var TB_APP = 'TrailPlayerTourApp';
            var TB_DATA = '{{ asset('assets/data') }}';
        </script>
    </head>
    <body>

    <div class="app-view">
      <div class="container-fluid">
        <div class="rowFullWidth">
          <div class="col-lg-12 col-md-12 col-sm-12 header">
            <div class='image-container fade-on-load'><img src='http://tbassets.imgix.net//assets.trailburning.com/images/pages/trailplayertour3.jpg?fm=jpg&q=80' class='scale'></div>

            <div class="logo"><a href="http://www.trailburning.com">Home</a></div>

            <div class="header-text-container">
              <div class="container">
                <div class="row">
                  <div class="col-lg-7 col-md-7 col-sm-7 title">
                  <h1>Active Destinations.</h1>
                  <h2>Easily publish road trips and activity-based experiences using the <strong>Trailburning</strong>® Platform.</h2>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 description">
            <h1>Make destination experiences.</h1>
            <h2>
              <strong>Trailburning</strong>® provides marketeers with ways to promote your destination and activities.  Out platform can support a full Destination Marketing presentation or customisation of our <strong>Trail Player</strong> widgets.
            </h2>
          </div>
        </div>

        <div class="row journey-view drive">
          <div class="col-lg-6 col-md-6 col-sm-12 journey-panel">
            <div class="bs-component">
              <div class="panel panel-default">
                  <div class="story-view">
                    <div class='story-items'>      
                      <div class='title-item fade-in'>      
                        <div class="image-container fade-on-load"><img src="http://tbassets.imgix.net//assets.trailburning.com/images/tour/trailplayer/WP0 - Roadtrip.jpg?fm=jpg&q=80"  class="scale"></div>
                      </div>
                    </div>
                    <div class="rsDefault">
                      <div class="rsFullscreenBtn fullscreen-btn"><div class="rsFullscreenIcn"></div></div>
                    </div>
                  </div>

                  <div class="map-view"><div class='map-rotate'><div class='map rotating'></div></div></div>
                  <div class="button"><span class="btn btn-primary btn-fab btn-raised btn-material-blue-500 mdi-action-room next-btn"></span></div>

                  <div class="panel-body">    
                    <div class="bs-component">
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="row-picture"><img class="circle" src="http://www.gravatar.com/avatar/09d0c35e80c8b315752df19191ba1ccd" alt="icon"></div>
                                <div class="row-content"><h4 class="list-group-item-heading">Melbourne MCG to Mt Buller</h4><p class="list-group-item-text">Example using Mapbox Directions plugin to calculate a route between points.</p></div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="panel-footer">Trail Player by <strong>Trailburning</strong>®</div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 highlight-panel">
            <h1>Don't just tell people how to get to your region - show them.</h1>
            <p>
            Entice travellers to enjoy the trip on the way to your destination.  The <strong>Trail Player</strong> is a standalone widget that can be embedded into any site or blog.
            </p>
            <span class="btn btn-sup btn-material-pink btn-raised next-btn"><img src="http://assets.trailburning.com/images/icons/sm_tb_location.png" alt="gittip" height="30"><span>Next Photo</span><div class="ripple-wrapper"></div></span>
          </div>
        </div>

        <div class="row journey-view hike spacer">
          <div class="col-lg-6 col-md-6 col-sm-12 highlight-panel">
            <h1>More than the journey.</h1>
            <p>
            We made <strong>Trailburning</strong>® for active people to discover your running, hiking, skiing and cycling activities at the end of their road trip.  The <strong>Trail Player</strong> can be an independant widget or link through to a full catalogue of activity experiences.  Launch activity widgets across blogs and social media to lead consumers to your website.
            </p>
            <span class="btn btn-sup btn-material-pink btn-raised next-btn"><img src="http://assets.trailburning.com/images/icons/sm_tb_location.png" alt="gittip" height="30"><span>Next Photo</span><div class="ripple-wrapper"></div></span>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 journey-panel">
            <div class="bs-component">
              <div class="panel panel-default">
                  <div class="story-view">
                    <div class='story-items'>      
                      <div class='title-item fade-in'>      
                        <div class="image-container fade-on-load"><img src="http://tbassets.imgix.net//assets.trailburning.com/images/profile/mtbuller/brand_hero3.jpg?fm=jpg&q=80"  class="scale"></div>
                      </div>
                    </div>
                    <div class="rsDefault">
                      <div class="rsFullscreenBtn fullscreen-btn"><div class="rsFullscreenIcn"></div></div>
                    </div>                    
                  </div>
                  <div class="map-view"><div class='map-rotate'><div class='map rotating'></div></div></div>
                  <div class="button"><span class="btn btn-primary btn-fab btn-raised btn-material-blue-500 mdi-action-room next-btn"></span></div>
                
                  <div class="panel-body">                
                    <div class="bs-component">
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="row-picture brand"><a href="http://www.trailburning.com/profile/mtbuller"><img src="http://assets.trailburning.com/images/profile/mtbuller/logo_sm.png"></a></div>
                                <div class="row-content"><h4 class="list-group-item-heading">Mt Buller - Buller Stirling Showcase</h4><p class="list-group-item-text">
      360-degree views from Sterling including back to Buller Resort; nearby 500 year old snowgum; big views from multiple other high vantage points en route across to eastern Alps including nearly every other iconic peak in the Victorian Alps wilderness.
                                    </p></div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="panel-footer">Trail Player by <strong>Trailburning</strong>®</div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 summary">
            <h1>Next?</h1>
            <p>
            Contact <strong>Trailburning</strong>® to create a custom road trip or activity-based <strong>Trail Player</strong> for your brand or tourism region.
            <br/><br/>
            <a href="mailto:hello@trailburning.com">hello@trailburning.com</a>
            </p>
          </div>
        </div>

      </div>

      <div id="footerview">
          <div class="left">
            <div class="copyright">Copyright © 2015, Augmented Media Projects Ltd</div>    
            <div class="links">
              <div class="link"><a href="{{ app.request.baseUrl }}/about">About</a></div>
              <div class="link"><a href="{{ app.request.baseUrl }}/presskit">Press Kit</a></div>
            </div>
          </div>
          <div class="right">
              <div class="social email"><a href="mailto:hello@trailburning.com" class="button btnEmail">Email</a></div>
              <div class="social facebook"><a href="http://www.facebook.com/trailburning" target="_blank" class="button btnFacebook">Facebook</a></div>
              <div class="social twitter"><a href="http://www.twitter.com/trailburning" target="_blank" class="button btnTwitter">Twitter</a></div>
              <div class="social googleplus"><a href="https://plus.google.com/+Trailburning/posts" target="_blank" class="button btnGooglePlus">Google+</a></div>
          </div>
      </div>                     
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ asset('assets/js/libs/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/libs/ripples.min.js') }}"></script>
    <script src="{{ asset('assets/js/libs/material.min.js') }}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.0/TweenMax.min.js"></script>
    <script src="{{ asset('assets/js/libs/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ asset('assets/js/libs/image-scale.min.js') }}"></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.js'></script>
    <script src='{{ asset('assets/js/libs/turf.min.js') }}'></script>

    <script data-main="{{ asset('assets/js/main') }}" src="{{ asset('assets/js/libs/require.js') }}"></script>
    </body>
</html>
