{% extends "::base.html.twig" %}

{% block title %}{{ campaign.displayTitle }}{% endblock %}

{% block description %}
{{ campaign.synopsis }}
{% endblock %}



{% block og_image %}

{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/campaign.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<script>
var TB_APP = 'CampaignApp';
{% if app.user %}		
var TB_USER_ID = {{ app.user.id }};
{% endif %}
</script>

<div id="content_view">	
    <div id="campaignplayer">
        <div id="trail_views">        
            <div id="trail_map_view"></div>
            <div id="trail_slides_view"></div>
        </div>
        
        <div id="campaign_landing_overlay_view">        	
        	<div class="back tb-move-horiz"></div>        	
			<div class="info-hero tb-move-horiz">				  						  				
			  <div class="campaign_title tb-move-horiz"><img src="http://assets.trailburning.com/images/campaign/urbantrails/london/logo_urbantrails_london.png" /></div>              
              <div class="campaign_play">
              	<div class="campaign_btn"></div>
              	Discover Trails	
			  </div>              	
			</div>        	
		</div>        	

        <div id="campaign_map_overlay_view">
        	<div class="back tb-move-horiz"></div>        	
			<div class="info-hero tb-move-horiz">				  						  				
			  <div class="campaign_title tb-move-horiz"><img src="http://assets.trailburning.com/images/campaign/urbantrails/london/logo_urbantrails_london.png" /></div>              
              <div class="campaign_card">
				<div class="trailcards">
					<div id="trailcard_view">
						<div class="panel trail_card_panel campaign_card_panel">
						    <div class="photo tb-photo-btn">
						      <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/o=80/http://assets.trailburning.com/images/campaign/urbantrails/london/shutterstock_148485164.jpg" class="resrc scale" border="0"/></div>
						      <div class="card_title">
						        <h1>Rediscover your</h1>
						        <br/>
						        <h1>city runs</h1>
						        <br/>
						        <h2>London, UK</h2>
						      </div>
						    </div>
							<div class="card_avatar">
						      <a href="{{ app.request.baseUrl }}/campaign/{{ campaign.slug }}"><img src="http://assets.trailburning.com/images/campaign/urbantrails/logo_urbantrails.jpg"></a>
						    </div>
						    <div class="summary">
							  <div class="length">11 Trails</div>
						    </div>
						</div>						
					</div>
				</div>
				
			  </div>              	
			</div>        	
		</div>        	
        
        <div id="tb-loader-overlay">
  	  	  <div class="back"></div>
  	  	  <div class="tb-loader"><div class="spinner"></div><div class="middle">...</div></div>
  	  	</div>        
        
        <div id="view_map_btns">        
            <div class='controls'>
                <span class="btn btn-tb zoomin_btn">+</span>          
                <span class="btn btn-tb zoomout_btn">-</span>
                <span class="btn btn-tb view_btn">Satellite</span>          
            </div>    
        </div>
        
		<div id="view_player_btns" class="tb-move-vert">
          	<div class="close_btn"></div>	
        </div>            
    </div>
  
    <div class="panel_container">       
        <div class="panel_content_container">       
            <div class="panel_content">       
				<div class="crumb_content fixed_content">
	                <div id="bigbar">
			    	{#
			        {{ include('TBFrontendBundle:Default:breadcrumb.html.twig', breadcrumb) }}
			        #}
					<div class="crumbs">
					    <div class="crumb_links">
				            <a href="">Urban Trails</a>
					    </div>
			    	</div>        
			        {{ include('TBFrontendBundle:Default:share.html.twig') }}
	                </div>
                </div>

                <div class="panels clearfix">     
			        <div class="left">        
			            <div class="panel campaign_detail_panel">
			                <div class="content">
			                    <h3 class="tb title">About London</h3>
			                    <h4 class="tb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat accumsan leo eget porttitor. Donec blandit, dui nec aliquam mattis, leo augue adipiscing purus, quis iaculis eros purus ac nisi. Etiam neque magna, consectetur eget suscipit vitae, convallis a metus. </h4>
			                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat accumsan leo eget porttitor. Donec blandit, dui nec aliquam mattis, leo augue adipiscing purus, quis iaculis eros purus ac nisi. </p>
			                    <div class="join"><a href="" onClick="" class="btn btn-tb-action btn-tb-large">Visit London</a></div>
			                </div>
			            </div>
			            
                        <div id="trail_weather_view" class="panel trail_weather_panel"></div>			            
			        </div>
			      
			        <div class="right">
						<div class="trails_title"><h2 class="tb tb-title first-title ">{{ campaign.title }} Urban Trails</h2></div>			        	
						
                        {% if routes and routes|length > 0 %}
						
			        	<div class="event_container trailcards">
						
                    	    {% for trail in routes %}
                    	        {{ include('TBFrontendBundle:Trail:_trailcard.html.twig', {'trail': trail, 'campaign' : campaign}) }}
                    	    {% endfor %}
						
							<div class="panel trail_card_panel promo_panel">
								<div class="title"><h3 class="tb">Add your trail</h3></div>								                            	
                            	<a href="{{ app.request.baseUrl }}/competition">
                                <div class="photo tb-photo-btn">
                                    <div class="image_container fade_on_load"><img src="http://app.resrc.it/http://assets.trailburning.com/images/campaign/urbantrails/london/promo_back.jpg" class="resrc scale" border="0"></div>
                                    <div class="card_title">
                                    <div class="marker"><img src="http://assets.trailburning.com/images/icons/location.png"></div>
                                    <h1>Submit your Urban</h1>
                                    <br>
                                    <h1>Trail and win great</h1>
                                    <br>
                                    <h1>Ashmei gear!</h1>
                                    </div>
                                    <div class="image_container prize fade_on_load"><img src="http://app.resrc.it/http://assets.trailburning.com/images/campaign/urbantrails/london/ashmei_prize.png" class="resrc scale" border="0"></div>
                                </div>
                            	</a>
								<div class="sponsor"><img src="http://assets.trailburning.com/images/profile/ashmei/editorial_sponsor_logo_big.png"></div>				    
                            	<div class="details">
                                	<div class="more"><a class="btn btn-tb-action" href="{{ app.request.baseUrl }}/competition">How to Win</a></div>
                            	</div>
                        	</div>
                        			
						</div>
						
						{% endif %}
			        	
			        </div>
                    
                </div>
                
				<div class="likedtrails_content">
				  <div class="fixed_content">				
				    <h2 class="tb">Popular Urban Trails</h2>
				    <div class="desc"><h4 class="tb">Discover Urban Trails shared by the Trailburning Community</h4></div>      
				    <div class="trailcards panels">  	
				    	<div class="trail_card_sticker">				    		
							<div class="panel trail_card_panel">
							    <div class="title"><h3 class="tb">Canal</h3></div>
							    <a href="../trail/regent-s-canal-london">
							    <div class="photo tb-photo-btn">
							      <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/O=80/http://media.trailburning.com/288/9ee9b1fd51ec603cbe8d3a2fa867a19f9fb902f9.jpg" class="resrc scale" border="0"></div>
							      <div class="card_title">
							        <h1>Regent's Canal</h1>
							        <br>
							        <h2>London</h2>
									<br>
									<h2>
							        <span class="stars">
							          <span class="star star_full"></span>
							          <span class="star star_half"></span>
							          <span class="star"></span>
							          <span class="star"></span>
							          <span class="star"></span>
							        </span>
									</h2>
							      </div>
							    </div>
							    </a>
								<div class="card_avatar">
							      <div class="tb-avatar"><div class="photo"><a href="../profile/mattallbeury"><img src="http://www.gravatar.com/avatar/e426b949d824bc81fe01caf1ad88abd7"></a></div></div>
								</div>	        
							    <div class="summary">
								  <div class="length">11 km</div>
								  <div class="altitude">
								  78 D+
								  <br>
								  102 D-
								  </div>
							    </div>
							</div>				    		
				    	</div>

				    	<div class="trail_card_sticker">				    		
							<div class="panel trail_card_panel">
							    <div class="title"><h3 class="tb">Canal</h3></div>
							    <a href="../trail/regent-s-canal-london">
							    <div class="photo tb-photo-btn">
							      <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/O=80/http://media.trailburning.com/288/9ee9b1fd51ec603cbe8d3a2fa867a19f9fb902f9.jpg" class="resrc scale" border="0"></div>
							      <div class="card_title">
							        <h1>Regent's Canal</h1>
							        <br>
							        <h2>London</h2>
									<br>
									<h2>
							        <span class="stars">
							          <span class="star star_full"></span>
							          <span class="star star_half"></span>
							          <span class="star"></span>
							          <span class="star"></span>
							          <span class="star"></span>
							        </span>
									</h2>
							      </div>
							    </div>
							    </a>
								<div class="card_avatar">
							      <div class="tb-avatar"><div class="photo"><a href="../profile/mattallbeury"><img src="http://www.gravatar.com/avatar/e426b949d824bc81fe01caf1ad88abd7"></a></div></div>
								</div>	        
							    <div class="summary">
								  <div class="length">11 km</div>
								  <div class="altitude">
								  78 D+
								  <br>
								  102 D-
								  </div>
							    </div>
							</div>				    		
				    	</div>

				    	<div class="trail_card_sticker">				    		
							<div class="panel trail_card_panel">
							    <div class="title"><h3 class="tb">Canal</h3></div>
							    <a href="../trail/regent-s-canal-london">
							    <div class="photo tb-photo-btn">
							      <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/O=80/http://media.trailburning.com/288/9ee9b1fd51ec603cbe8d3a2fa867a19f9fb902f9.jpg" class="resrc scale" border="0"></div>
							      <div class="card_title">
							        <h1>Regent's Canal</h1>
							        <br>
							        <h2>London</h2>
									<br>
									<h2>
							        <span class="stars">
							          <span class="star star_full"></span>
							          <span class="star star_half"></span>
							          <span class="star"></span>
							          <span class="star"></span>
							          <span class="star"></span>
							        </span>
									</h2>
							      </div>
							    </div>
							    </a>
								<div class="card_avatar">
							      <div class="tb-avatar"><div class="photo"><a href="../profile/mattallbeury"><img src="http://www.gravatar.com/avatar/e426b949d824bc81fe01caf1ad88abd7"></a></div></div>
								</div>	        
							    <div class="summary">
								  <div class="length">11 km</div>
								  <div class="altitude">
								  78 D+
								  <br>
								  102 D-
								  </div>
							    </div>
							</div>				    		
				    	</div>
				    </div>
				  </div>	   	
				</div>                
            </div>
        </div>
    </div>  
</div>
  
{% endblock %}


{% block javascripts %}

<script type="text/template" id="trailSlidesViewTemplate">
  <div class="photos_container"></div>
  <div class="slide_btns">
    <div class="left">
      <div class="hot"></div>
      <div class="arrow"></div>
    </div>
    <div class="right">
      <div class="hot">
        <div class="arrow"></div>
      </div>    	
    </div>
  </div>  
  <div class="loader_container">
    <div class="loader"></div>
  </div>  
</script>

<script type="text/template" id="trailSlideViewTemplate">
  <div class="background">
    <div class="image_container fade_on_load"><img src="http://app.resrc.it/O=80/http://assets.trailburning.com<%= versionLargePath%>" class="resrc scale" /></div>
  </div>
</script>

<script type="text/template" id="trailMapViewTemplate">
  <div class="map_container">
    <div id='map_large'></div>
  </div>
</script>

<script type="text/template" id="trailWeatherViewTemplate">
  <div class="content">
    <h3 class="tb">Today&#39;s weather</h3>
    <div class="desc"></div>
    <div class="detail clearfix">                  
      <div class="text">
        <div class="temp"></div>
        <div class="wind"></div>
      </div>
      <div class="icon"></div>
    </div>
  </div>
</script>

<script type="text/template" id="trailCardViewTemplate">
  <div class="panel trail_card_panel">	
    <div class="title"><h3 class="tb"><%= category.name %></h3></div>
    <div class="link" data-url="{{ app.request.baseUrl }}/campaign/{{ campaign.slug }}/trail/<%= slug %>" data-id="<%= id %>">
    <div class="photo tb-photo-btn">
      <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/O=80/http://media.trailburning.com<%= versionLargePath %>" class="resrc scale" border="0"/></div>
      <div class="card_title">
        <h1><%= name %></h1>
        <br/>
        <h2><%= region %></h2>
		<br/>
		<h2>
        <span class="stars">
          <span class="star"></span>
          <span class="star"></span>
          <span class="star"></span>
          <span class="star"></span>
          <span class="star"></span>
        </span>
		</h2>
      </div>
    </div>
    </div>
	<div class="card_avatar">
      <div class="tb-avatar"><div class="photo"><a href="{{ app.request.baseUrl }}/profile/<%= user.name %>"><img src="<%= user.avatar %>"></a></div></div>
	</div>	    
    <div class="location"></div>
    <div class="summary">
	  <div class="length"><%= length_km %> km</div>
	  <div class="altitude">
	  <%= ascent_m %> D+
	  <br/>
	  <%= descent_m %> D-
	  </div>
    </div>
  </div>
</script>

<script type="text/template" id="trailEventCardViewTemplate">
  <div class="panel trail_card_panel">	
    <div class="title"><h3 class="tb"><%= category.name %></h3></div>
    <div class="link" data-url="{{ app.request.baseUrl }}/campaign/{{ campaign.slug }}/trail/<%= slug %>" data-id="<%= id %>">
    <div class="photo tb-photo-btn">
      <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/O=80/http://media.trailburning.com<%= versionLargePath %>" class="resrc scale" border="0"/></div>
      <div class="card_title">
        <h1><%= name %></h1>
        <br/>
        <h2><%= region %></h2>
      </div>
    </div>
    </div>
	<div class="card_avatar">
      <a href="{{ app.request.baseUrl }}/<%= sponsorURL %>"><img src="http://assets.trailburning.com/images/<%= sponsorURL %>/card_trail_sticker_logo.png"></a>
    </div>
    <div class="location"></div>
    <div class="summary">
	  <div class="length"><%= length_km %> km</div>
	  <div class="altitude">
	  <%= ascent_m %> D+
	  <br/>
	  <%= descent_m %> D-
	  </div>
    </div>
  </div>
</script>

{% endblock %}
