{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'TBFrontendBundle:Form:default.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('assets/css/signup.css') }}" rel="stylesheet" type="text/css">
{% endblock %}


{% block fos_user_content %}

{% set breadcrumb = [{'name': 'fos_user_registration_register', 'params': [], 'label': 'Join Trailburning'}] %}

<script>
var TB_APP = 'SignupApp';
{% if app.user %}		
var TB_USER_ID = {{ app.user.id }};
{% endif %}
</script>

<div id="contentview" class="register clearfix">    
	<div class="panel_content">        	
    	<div class="panel">
      		<div class="content">      
        	<h1 class="tb">Sign up</h1>
        	<div class="desc">
          		<h4 class="tb">
                    {% if form.vars.value.oAuthService is not null %}
                    Please complete your {{ form.vars.value.oAuthService }} registration 
                    {% else %}
                    Fill in your details for a whole new trail experience!
                    {% endif %}
                </h4>
        	</div>        
			<form id="signup_form" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">

            {% if form.vars.value.oAuthService is not null %}
            {% else %}
				<div class="social"><a href="{{ hwi_oauth_login_url('facebook') }}" class="btn btn-tb-facebook"><span class="tb-facebook-logo"></span> Sign up with Facebook</a></div>                            
			  	<div class="bar_title">
	            	<div class="left"></div><div class="title"><h4 class="tb">or</h4></div><div class="right"></div>
	        	</div>            
            {% endif %}

	        {# {{ form_widget(form) }}                     #}
	                    
	        {{ form_errors(form) }}
	
            {{ form_row(form.email) }}
            
            {% if form.vars.value.oAuthService is not null %}
            {% else %}
	        <div>
	        To use a personal avatar please register this email address at <a href="http://www.gravatar.com" target="_blank">Gravatar</a>.	
	        </div>
            {% endif %}
            
            {# No password required for signup with external authentification provier #}
            {% if form.vars.value.oAuthService is null %}
                {{ form_row(form.plainPassword) }}
            {% endif %}
            
            {{ form_row(form.firstName) }}
	        {{ form_row(form.lastName) }}
            {{ form_row(form.location) }}
            {{ form_row(form.about) }}
            {{ form_row(form.gender) }}	
            {{ form_row(form.newsletter) }}
	
			<div class="next_step"><button type="submit" id="signup" name="submit" class="btn btn-tb-action btn-tb-large">Sign up</button></div>
	        {{ form_row(form._token) }}
            
            {{ form_row(form.oAuthService) }}
            {{ form_row(form.oAuthId) }}
            {{ form_row(form.oAuthAccessToken) }}
            
	        <div>Already have an account?  <a href="{{ path('fos_user_security_login') }}">Sign in</a></div>
	        </form>
      		</div>      		
    	</div>
    	<div class="step_marker_container">
    		<div class="step_marker tb-step"><div class="photo"><img src="{{ asset('assets/img/steps') }}/step_signin.jpg"></div></div>
    	</div>	                
	</div>  
</div>

{% endblock fos_user_content %}
