{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'TBFrontendBundle:Form:default.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('assets/css/signup.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block fos_user_content %}

{% set breadcrumb = [{'name': 'fos_user_registration_register', 'params': [], 'label': 'Join Trailburning'}] %}

<script>
var TB_APP = 'SignupApp';
</script>

<div id="contentview" class="clearfix">    
	<div class="panel_content">        	
    	<div class="panel">
      		<div class="content">      
        	<h1 class="tb">Sign up</h1>
        	<div class="desc">
          		<h4 class="tb">Fill in your details for a whole new trail experience!</h4>
        	</div>        
			<form id="signup_form" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
	        {# {{ form_widget(form) }}                     #}
	                    
	        {{ form_errors(form) }}
	
	        {{ form_row(form.email) }}
	        {{ form_row(form.plainPassword) }}
	        {{ form_row(form.firstName) }}
	        {{ form_row(form.lastName) }}
	
			<div class="next_step"><button type="submit" id="signup" name="submit" class="btn btn-tb-action btn-tb-large">Sign up</button></div>
	        {{ form_row(form._token) }}
	        </form>
      		</div>
    	</div>
    	<div class="step_marker_container">
    		<div class="step_marker">1</div>  
    	</div>	  
	</div>  
</div>

{% endblock fos_user_content %}
