<div class="panel event_card_panel">
    <a href="{{ path('event', {slug: event.slug}) }}">
        <div class="photo tb-photo-btn">
            <div class="image_container fade_on_load"><img src="http://app.resrc.it/O=80/http://assets.trailburning.com/images/events/{{ event.slug }}/{{ event.image }}" class="resrc scale" border="0"/></div>
            <div class="logo"><img src="http://assets.trailburning.com/images/events/{{ event.slug }}/{{ event.logoSmall }}"/></div>
        </div>
    </a>
    <div class="summary">
        <strong>{{ event.title }} {{ event.title2 }}</strong><br />Event -        
        {% if event.dateTo  %}
          {{ event.date|date('d M') }} to {{ event.dateTo|date('d M Y') }}
        {% else %}
          {{ event.date|date('d M Y') }}
        {% endif %}
    </div>
</div>