{% extends "::base.html.twig" %}

{% block title %}{{ event.title }} {{ event.title2 }}{% endblock %}

{% block og_image %}
{% if event.shareImage is not null %}http://assets.trailburning.com/{{ event.shareImage }}{% else %}http://www.trailburning.com/assets/img/social/tb_profile_icon.png{% endif %}
{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/event.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<script>
var TB_APP = 'EventApp';
{% if app.user %}		
var TB_USER_ID = {{ app.user.id }};
{% endif %}
var TB_EVENT_LONG = {{ event.location.longitude }};
var TB_EVENT_LAT = {{ event.location.latitude }};
var TB_EVENT_MAP_ZOOM = {{ event.mapZoom }};
</script>

<div id="event_header">
    <div class="image_container fade_on_load"><img src="http://app.resrc.it/O=80/http://assets.trailburning.com/images/event/{{ event.slug }}/{{ event.image }}" class="resrc scale" /></div>
    <div class="event_title">
        <h1 class="tb tb-title">{{ event.title }}</h1>
        {% if event.title2 %}
        <br/>
        <h1 class="tb tb-title">{{ event.title2 }}</h1>    
        {% endif %}
        <br/>
        <h1 class="tb tb-title">{{ event.date|date('d.m.y') }}</h1>
    </div>      
    <div class="event_logo">
        <a href="{{ event.link }}" onClick="trackOutboundLink(this, 'Outbound Links', '{{ event.link | url_truncate }}'); return false;"><img src="http://assets.trailburning.com/images/event/{{ event.slug }}/{{ event.logo }}" border="0"></a>
    </div>    
    {% if event.sponsors %}
    <div class="sponsors">        
        <div class="logos">
        {% for brandProfile in event.sponsors %}
            <a href="{{ brandProfile.link }}" onClick="trackOutboundLink(this, 'Outbound Links', '{{ brandProfile.link|url_truncate }}'); return false;"><img src="http://assets.trailburning.com/images/profile/{{ brandProfile.name }}/{{ brandProfile.logo }}" border="0"></a>    
        {% endfor %}            
        </div>
    </div>
    {% endif %}
    {% if event.imageCredit %}
        <div class="tb-credit">Photo credit: © {{ event.imageCredit }}</div>
    {% endif %}
</div>

<div class="panel_content">          
    <div id="bigbar">
        {{ include('TBFrontendBundle:Default:breadcrumb.html.twig', breadcrumb) }}
        {{ include('TBFrontendBundle:Default:share.html.twig') }}
    </div>
            
    <div class="panels clearfix">           
        <div class="left">        
            <div class="panel event_detail_panel">
                <div class="content">
                    <h3 class="tb title">{{ event.subtitle }}</h3>
                    <h4 class="tb">{{ event.synopsis }}</h4>
                    <p>
                    {{ event.about|nl2br }}
                    </p>
                    <div class="join"><a href="{{ event.link }}" onClick="trackOutboundLink(this, 'Outbound Links', '{{ event.link | url_truncate }}'); return false;" class="btn btn-tb-action btn-tb-large">Participate</a></div>
                </div>
            </div>
            {% if event.region %}
            <div class="panel event_region_panel">
                <div class="content">
                    <h3 class="tb title">About Event Region</h3>
                    <div class="photo">
                        <img src="http://assets.trailburning.com/images/region/{{ event.region.slug }}/{{ event.region.image}}">
                        <div class="logo"><a href="{{ event.region.link }}" onClick="trackOutboundLink(this, 'Outbound Links', '{{ event.region.link | url_truncate }}'); return false;" target="_blank"><img src="http://assets.trailburning.com/images/region/{{ event.region.slug }}/{{ event.region.logo }}" border="0"></a></div>              
                    </div>            
                    <div class="detail">
                        <h4 class="tb">{{ event.region.name }}</h4>            
                        <p>
                            {{ event.region.about|nl2br }}
                        </p>
                    </div>
                </div>
            </div> 
            {% endif %}
        </div>    
      
        <div class="right">
            <div class="panel event_location_panel">
                <div class="content">
                    <div id="event_location_map" class="event_location_map"></div>
                </div>
            </div>
            {% if routes %}
                <div class="event_trails_container">
                {% for route in routes %}
                    {% if routes|length == 1 %}
                        <div class="panel big_event_trail">
                            <h3 class="tb">{{ route.routeType ? route.routeType.name : 'Run' }}</h3>
                            <a href="{{ path('trail', {trailSlug: route.slug}) }}">
                                <div class="photo tb-photo-btn">
                                    <div class="image_container"><img src="http://app.resrc.it/{{ route.favouriteMedia.absolutePath }}" class="resrc scale" border="0"/></div>
                                    <div class="card_title">
                                        {% if route.eventRoutes[0].date %}
                                            <h1>{{ route.eventRoutes[0].date|date('d.m.y') }}</h1>
                                            <br/>
                                        {% endif %}
                                        <h1>{{ route.name }}</h1>
                                    </div>
                                </div>
                            </a>
                            <div class="details">
                                <div class="logo"><!--<img src="http://assets.trailburning.com/images/events/tfor/trail_logo_ashmei.png" border="0"/>--></div>
                                <div class="more"><a class="btn btn-tb" href="{{ path('trail', {trailSlug: route.slug}) }}">More</a></div>
                            </div>
                        </div>
                    {% else %}
                        <div class="panel event_trail">
                            <h3 class="tb">{{ route.shortName ? route.shortName : route.name  }}</h3>
                            <a href="{{ path('trail', {trailSlug: route.slug}) }}">
                                <div class="detail">
                                    {% if route.tags.ascent %}
                                        <div class="terrain">
                                            <h2 class="tb">{{ route.tags.ascent|dimension_format('m') }}</h2>
                                            {% if route.tags.descent %}
                                            <div class="desc">D+ / {{ route.tags.descent|dimension_format('m') }} D-</div>
                                            {% endif %}
                                        </div>                                              
                                    {% endif %}
                                    <div class="length">
                                        <h2 class="tb">{{ route.length|dimension_format('km', 1000) }}</h2>
                                        <div class="desc">Length</div>
                                    </div>
                                </div>
                            </a>
                            <div class="more"><a class="btn btn-tb"  href="{{ path('trail', {trailSlug: route.slug}) }}">More</a></div>
                        </div>
                    {% endif %}    
                {% endfor %}    
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
