{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
<link href="{{ asset('assets/css/signup.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block fos_user_content %}

{% set breadcrumb = [{'name': 'fos_user_security_login', 'params': [], 'label': 'Sign in'}] %}

<script>
var TB_APP = 'BaseApp';
</script>

<div id="contentview" class="clearfix">    
	<div class="panel_content">        	
    	<div class="panel">
      		<div class="content">      
        	<h1 class="tb">Sign in</h1>
            <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />                
                <div>
                    <label for="username">Email</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="_password" required="required" />
                </div>                
                <div>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <span class="option_text" for="remember_me">{{ 'security.login.remember_me'|trans }}</span>
                </div>
                <div class="next_step"><button type="submit" id="_submit" name="_submit" class="btn btn-tb-action btn-tb-large">Sign in</button></div>
            	{% if error %}
                	<div class="error">{{ error|trans }}</div>
            	{% endif %}
                <div><a href="{{ path('fos_user_resetting_request') }}">Forgot password?</a></div>
            </form>
            </div>
        </div>
    	<div class="step_marker_container">
    		<div class="step_marker tb-step"><div class="photo"><img src="{{ asset('assets/img/steps') }}/step_signin.jpg"></div></div>
    	</div>	                
    </div>
</div>  

{% endblock fos_user_content %}
