<div class="trail_card_sticker">
	<div class="panel trail_card_panel">
		<div class="title"><h3 class="tb">{{ route.routeCategory.name }}</h3></div>
        <a href="{{ path('editorial_trail', {trailSlug: route.slug, editorialSlug: editorial.slug}) }}">
        <div class="photo tb-photo-btn">
        	<div class="image_container"><img src="http://app.resrc.it/o=80/{{ route.favouriteMedia.absolutePath }}" class="resrc scale" border="0"/></div>
          	<div class="card_title">
                <h1>{{ route.shortName ? route.shortName : route.name }}</h1>
                <br />
                <h1>{{ route.region }}</h1>
        	</div>
       	</div>
        </a>
        <div class="summary">
        {% if route.eventRoutes and route.eventRoutes|length() > 0 %}
	        <div class="sponsor"><a href="{{ path('event', {slug: route.eventRoutes[0].event.slug}) }}"><img src="http://assets.trailburning.com/images/events/{{ route.eventRoutes[0].event.slug }}/card_trail_logo.png"></a></div>	       		
        {% elseif route.user and route.user.name != 'admin'  %}
       		{{ include('TBFrontendBundle:Profile:_userAvatar.html.twig', {user: route.user}) }}
	        <div class="detail">
	            by <strong>{{ route.user.title }}</strong>
				{{ include('TBFrontendBundle:Trail:_trailcardRating.html.twig', {'trail': route}) }}
	      	</div>
        {% endif %}
        </div>
 	</div>						 	
</div> 