<div class="trail_card_sticker">
	<div class="panel trail_card_panel">
		<div class="title"><h3 class="tb">{{ route.routeCategory.name }}</h3></div>
        <a href="{{ path('editorial_trail', {trailSlug: route.slug, editorialSlug: editorial.slug}) }}">
        <div class="photo tb-photo-btn">
        	<div class="image_container"><img src="http://app.resrc.it/o=80/{{ route.favouriteMedia.absolutePath }}" class="resrc scale" border="0"/></div>
          	<div class="card_title">
                <h1>{{ route.shortName ? route.shortName : route.name }}</h1>
                <br />
                <h2>{{ route.region }}</h2>
		        {% if route.eventRoutes and route.eventRoutes|length() > 0 %}
		        {% elseif route.user and route.user.name != 'admin'  %}
					<br/>
					<h2>{{ include('TBFrontendBundle:Trail:_trailcardRating.html.twig', {'trail': route}) }}</h2>                
		        {% endif %}
        	</div>
       	</div>
        </a>
		<div class="card_avatar">
        {% if route.eventRoutes and route.eventRoutes|length() > 0 %}
	        <a href="{{ path('event', {slug: route.eventRoutes[0].event.slug}) }}"><img src="http://assets.trailburning.com/images/events/{{ route.eventRoutes[0].event.slug }}/card_trail_sticker_logo.png"></a>	       		
        {% elseif route.user and route.user.name != 'admin'  %}
       		{{ include('TBFrontendBundle:Profile:_userAvatar.html.twig', {user: route.user}) }}
        {% endif %}
		</div>	
        <div class="summary">
			<div class="length">{{ route.length|kmDistance }} km</div>
			<div class="altitude">
	        {% if route.tags.ascent %}
	        	{{ route.tags.ascent|dimension_format('m') }} D+
	            {% if route.tags.descent %}
	            	<br/>{{ route.tags.descent|dimension_format('m') }} D-
	            {% endif %}
	        {% endif %}
			</div>
        </div>
 	</div>						 	
</div> 