<div class="panel trail_card_panel">
    <div class="title"><h3 class="tb">{{ trail.routeCategory.name }}</h3></div>
    {% if campaign is defined and campaign is not null %}
        <a href="{{ path('campaign_trail', {'trailSlug': trail.slug, 'campaignSlug': campaign.slug}) }}">
    {% else %}
        <a href="{{ path('trail', {'trailSlug': trail.slug}) }}">
    {% endif %}
    <div class="photo tb-photo-btn">
        <div class="image_container fade_on_load">
        {% if trail.favouriteMedia %}	
        	<img src="http://app.resrc.it/o=80/{{ trail.favouriteMedia.absolutePath }}" class="resrc scale" border="0"/>
        {% else %}
        	<img src="http://app.resrc.it/o=80/http://media.trailburning.com/images/default/example_trailcard.jpg" class="resrc scale" border="0"/>
        {% endif %}	
        </div>
      	<div class="card_title">
			<h1>{{ trail.shortName ? trail.shortName : trail.name }}</h1>
			<br/>
			<h2>{{ trail.region }}</h2>
			<br/>
			<h2>{{ include('TBFrontendBundle:Trail:_trailcardRating.html.twig', {'trail': trail}) }}</h2>
    	</div>
    </div>
    </a>
	<div class="card_avatar">
        {% if trail.eventRoutes and trail.eventRoutes|length() > 0 %}
	        <div class="sponsor"><a href="{{ path('event', {slug: trail.eventRoutes[0].event.slug}) }}"><img src="http://assets.trailburning.com/images/events/{{ trail.eventRoutes[0].event.slug }}/card_trail_logo.png"></a></div>	       		
        {% elseif trail.user and trail.user.name != 'admin'  %}
       		{{ include('TBFrontendBundle:Profile:_userAvatar.html.twig', {user: trail.user}) }}
        {% endif %}
	</div>	
    <div class="summary">
		<div class="length">{{ trail.length|kmDistance }} km</div>
		<div class="altitude">
        {% if trail.tags.ascent %}
        	{{ trail.tags.ascent|dimension_format('m') }} D+
            {% if trail.tags.descent %}
            	<br/>{{ trail.tags.descent|dimension_format('m') }} D-
            {% endif %}
        {% endif %}
		</div>
    </div>
</div>