{% extends '::base.html.twig' %}

{% block title %}Discover Trails{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/mapTrails.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<script>
var TB_APP = 'MapTrailsApp';
</script>

<div id="mapview">
	<div id="map"></div>  
		<div id="cardsview">
  			<div id="trailCards" class="trailcards tb-move-vert"></div>
		</div>	
  	</div>
  	<div id="view_map_btns">        
		<div class='controls'>
    	<span class="btn btn-tb zoomin_btn">+</span>          
    	<span class="btn btn-tb zoomout_btn">-</span>
    	<span class="btn btn-tb view_btn">Satellite</span>          
	</div>    
</div>        
<div id="view_btns">
	<div id="view_toggle"><a href="{{ app.request.baseUrl }}/trails"><div class="tb-cntrl icon-cards"></div></a></div>
</div>  

<script type="text/template" id="mapTrailCardViewTemplate">
    <div class="title"><h3 class="tb"><%= category.name %></h3></div>
    <div class="link" data-url="{{ app.request.baseUrl }}/trail/<%= slug %>" data-id="<%= id %>">
    <div class="photo tb-photo-btn">
      <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/O=80/http://s3-eu-west-1.amazonaws.com/<%= versionLargePath %>" class="resrc scale" border="0"/></div>
      <div class="card_title">
        <h1><%= name %></h1>
        <br/>
        <h1><%= region %></h1>
      </div>
    </div>
    </div>
    <div class="summary">
      <div class="tb-avatar"><div class="photo"><a href="{{ app.request.baseUrl }}/profile/<%= user.name %>"><img src="<%= user.avatar %>"></a></div></div>
      <div class="detail">
        by <strong><%= user.title %></strong>
        <div class="stars">
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
        </div>
      </div>
      <div class="location"></div>
    </div>
    <div class="select_top"></div>
    <div class="select_bottom"></div>
</script>

<script type="text/template" id="mapTrailEventCardViewTemplate">
    <div class="title"><h3 class="tb"><%= category.name %></h3></div>
    <div class="link" data-url="{{ app.request.baseUrl }}/trail/<%= slug %>" data-id="<%= id %>">
    <div class="photo tb-photo-btn">
      <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/O=80/http://s3-eu-west-1.amazonaws.com/<%= versionLargePath %>" class="resrc scale" border="0"/></div>
      <div class="card_title">
        <h1><%= name %></h1>
        <br/>
        <h1><%= region %></h1>
      </div>
    </div>
    </div>
    <div class="summary">
      <div class="sponsor"><a href="{{ app.request.baseUrl }}/events/<%= eventURL %>"><img src="http://s3-eu-west-1.amazonaws.com/trailburning-assets/images/events/<%= eventURL %>/card_trail_logo.png"></a></div>
      <div class="location"></div>      
    </div>
    <div class="select_top"></div>
    <div class="select_bottom"></div>    
</script>

{% endblock %}


{% block javascripts %}

<script src="{{ asset('assets/js/libs/jquery.cookie.js') }}"></script>

{% endblock %}