{% extends '::base.html.twig' %}

{% block title %}Trailmaker{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/jquery-ui-1.10.4.custom.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ asset('assets/css/jquery.fileupload.css') }}" rel="stylesheet" type="text/css">
<link href="{{ asset('assets/css/trailmaker.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<script>
var TB_APP = 'TrailmakerApp';
var TB_TRAIL_ID = {{ id }};
var TB_USER_ID = {{ app.user.id }}
</script>

<div id="contentview" class="clearfix">    
    <div id='trail_map_view' class="clearfix"></div>
    <div id="view_map_btns">        
        <div class='controls'>
            <span class="btn btn-tb zoomin_btn">+</span>          
            <span class="btn btn-tb zoomout_btn">-</span>
            <span class="btn btn-tb view_btn">Satellite</span>          
        </div>    
    </div>    
    <div id='trail_map_overlay'></div>

    <div id="trail_info">      
        <div class="trail_title">
          <h2 class="tb tb-title event_name"></h2>
          <br/>
          <h2 class="tb tb-title trail_name"></h2>
        </div>
    </div>

    <div id="steps" class="clearfix">
        <div id="step_route_view"></div>
        <div id="step_route_edit_view"></div>
        <div id="step_published_view"></div>
        <div id="step_route_remove_view"></div>
    </div>

    <div id='tb-content-overlay'></div>	
    <div id='tb-overlay-view'></div>    
</div>    

{% endblock %}

{% block javascripts %}

<script src="{{ asset('assets/js/libs/jquery-ui-1.10.3.custom.min.js') }}"></script>

<script src="{{ asset('assets/js/libs/jquery.validationEngine-en.js') }}"></script>
<script src="{{ asset('assets/js/libs/jquery.validationEngine.js') }}"></script>

<script src="{{ asset('assets/js/libs/jquery.tinysort.js') }}"></script>

<script type="text/template" id="overlayViewTemplate">
  <div id="overlayContent_view"></div>
</script>

<script type="text/template" id="stepRouteViewTemplate">
  <div class="panel_content">
  	<div class="panel">
      <div class="content">      
        <h2 class="tb">Trail Map</h2>
        <div id="uploadGPX_view"></div>
        <div id="uploadGPXprogress_view"></div>
        <div id="uploadGPXerror_view"></div>        
      </div>
    </div>
	<div class="step_marker_container">
		<div class="tb-step-marker tb-step"><div class="photo"><img src="{{ asset('assets/img/steps') }}/step_gps.jpg"></div></div>
	</div>	                
  </div>    
</script>

<script type="text/template" id="trailUploadGPXViewTemplate">
    <div class="desc">
        <h4 class="tb">Make sure you have your GPX file handy.  If you need help getting a GPX file then please contact Trailburning <a href="mailto:support@trailburning.com">support</a> for assistance.</h4>
    </div>        
    <form id="uploadGPXForm">      
        <span class="btn btn-tb-action btn-tb-large fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Upload GPX File</span>
            <!-- The file input field used as target for the file upload widget -->
            <input type="file" id="gpxfileupload" name="gpxfile">
        </span>
    </form>
</script>

<script type="text/template" id="trailUploadGPXProgressViewTemplate">
    <div class="desc">
        <h4 class="tb">Now making GPS interesting...</h4>
    </div>        
    <div class="progress_container">
        <div class="progressbar"></div>  
    </div>  
    <h4 class="tb"><span class="percent">0</span>%</h4>
</script>

<script type="text/template" id="trailUploadGPXErrorViewTemplate">
    <div class="desc">
        <h4 class="tb">
        There was an error procesing your GPX file.  Please contact Trailburning <a href="mailto:support@trailburning.com">support</a> if you need assistance.
        </h4>
    </div>
	<div class="next_step"><a href="{{ path('profile', {'name': app.user.name}) }}" class="btn btn-tb-action btn-tb-large submit">Return to profile</a></div>            
</script>

<script type="text/template" id="stepRouteEditViewTemplate">
    <div id="uploadPhoto_view"></div>
    <div id="uploadPhotoprogress_view"></div>
    <div id="uploadPhotoerror_view"></div>
  
    <div class="gallery_panel">  	
        <div class="slideshow_container">
            <div class="slideshow">
                <div id="slideshow_view"></div>
            </div>
        </div>
    </div>

    <div class="detail_panel clearfix">
        <div class="line_break"></div>
        <div class="content">      
            <h2 class="tb tb-title">About the Trail</h2>
            <form>
                <div class="form-group">
                    <label for="form_event"><h4 class="tb">Name your trail</h4></label>
                    <input type="text" name="form_trail_name" id="form_trail_name" class="validate[required]">
                </div>
                <div class="form-group">
                    <label for="form_event"><h4 class="tb">Trail region</h4></label>
                    <input type="text" name="form_trail_region" id="form_trail_region" class="validate[required]">
                </div>
                <div class="form-group">
                    <div class="dropdown" id="trail_types">
                        <button class="btn dropdown-toggle sr-only btn-info" type="button" id="form_trail_type" data-toggle="dropdown">
                            <span data-bind="label">Trail type</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        </ul>
                    </div>      
                </div>
                <div class="form-group">
                    <label for="form_notes"><h4 class="tb">Trail notes</h4></label>
                    <textarea name="form_trail_notes" id="form_trail_notes"></textarea>
                </div>      
                <div class="form-group">
                    <div class="update"><span class="btn btn-tb-action btn-tb-large update_details" data-loading-text="Saving...">{% if id %}Update{% else %}Add{% endif %} Details</span></div>
                </div>      
            </form>
            <div class="bar_title">
              <div class="left"></div>
              <div class="title"><h4 class="tb">This trail is suitable for</h4></div>
              <div class="right"></div>
            </div>
            <div id="trailactivities_view" class="activities"></div>                
        </div>
    </div>

    <div class="trailcard_panel">
        <div class="content clearfix">      
            <div class="trailcards left">                  
                <div class="trail_card_sticker">
                	<div class="panel trail_card_panel">
                		<div class="title"><h3 class="tb trail_card_category"></h3></div>
                        <a href="{{ app.request.baseUrl }}/trail/<%= id %>" target="_blank" class="preview_link">
                            <div class="photo tb-photo-btn">
                                <div class="image_container fade_on_load"></div>
                                <div class="card_title">
                                    <h1 class="trail_card_title"></h1>
                                    <br />
                                    <h1 class="trail_card_region"></h1>
                                </div>
                            </div>
                        </a>
                        <div class="summary">                        	
		          			<div class="tb-avatar"><div class="photo"><a href="{{ path('profile', {'name': app.user.name}) }}">
            	  			<img src="{{ get_user_avatar_url(app.user) }}">
							</a></div></div>
                            <div class="detail">
                              by <strong>{{ app.user.firstname }} {{ app.user.lastname }}</strong>
                                <div class="stars">
                                    <div class="star"></div>
                                    <div class="star"></div>
                                    <div class="star"></div>
                                    <div class="star"></div>
                                    <div class="star"></div>
                                </div>
                            </div>
                        </div>
                 	</div>						 	
                </div>		 
            </div>
                <div class="right">
                <h3 class="tb">This is how your Trail Card will look</h3>      	
                <h4 class="tb">
                Make sure you chose your favourite  picture on the map, by using the star icon. If you’re ok with it, then let’s share your trail!      	
                </h4>      
                <div class="publish">
                	<span class="btn btn-tb-action btn-tb-large submit" disabled="disabled">Publish Trail</span>
                	<div class="err-msg"><span class="name">You must name your trail before publishing.</span><span class="photos">You must upload a minimum of 3 pictures before publishing.</span></div>
                </div>
                </div>                
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="trailUploadPhotoViewTemplate">
    <form id="uploadPhotoForm">  	
        <span class="btn btn-tb-action btn-tb-large fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add Pictures</span>
            <!-- The file input field used as target for the file upload widget -->
            <input type="file" id="photofileupload" name="medias[]" multiple="multiple">
        </span>
    </form>        
</script>

<script type="text/template" id="trailUploadPhotoProgressViewTemplate">
    <div class="panel_content">
        <div class="panel">
            <div class="content">      
                <h2 class="tb">Upload Photos</h2>
                <div class="desc">
                    <h4 class="tb msg" data-singular="Now adding photo..." data-plural="Now adding photos...">Now adding photo...</h4>
                </div>        
                <div class="progress_container">
                    <div class="progressbar"></div>  
                </div>  
                <h4 class="tb"><span class="percent">0</span>%</h4>
            </div>
        </div>
		<div class="step_marker_container">
			<div class="tb-step-marker tb-step"><div class="photo"><img src="{{ asset('assets/img/steps') }}/step_photo.jpg"></div></div>
		</div>	                
    </div>    
</script>

<script type="text/template" id="trailUploadPhotoErrorViewTemplate">
    <div class="panel_content">
        <div class="panel">
            <div class="content">      
                <h2 class="tb">Upload Photos</h2>
                <div class="desc">
                    <h4 class="tb msg">
					There was an error with your upload, the maximum file size of a photo is <strong>4Mb</strong>.  Please contact Trailburning <a href="mailto:support@trailburning.com">support</a> if you need assistance.
					</h4>
                </div>
            	<div class="next_step"><a href="javascript:void(0)" class="btn btn-tb-action btn-tb-large submit">Return to Trail Maker</a></div>                    
            </div>
        </div>
		<div class="step_marker_container">
			<div class="tb-step-marker tb-step"><div class="photo"><img src="{{ asset('assets/img/steps') }}/step_photo.jpg"></div></div>
		</div>	                
    </div>    
</script>

<script type="text/template" id="slideshowViewTemplate">
</script>

<script type="text/template" id="slideshowSlideViewTemplate">
  <div class="photo">
  	<div class="image_container fade_on_load"><img data-src="http://app.resrc.it/O=80/http://s3-eu-west-1.amazonaws.com/<%= versionLargePath%>" class="resrc scale"></div>
  	<div class="star_marker"></div>
  </div>  	
</script>

<script type="text/template" id="trailActivityViewTemplate">
  <div class="icon icon-<%= name %>"></div>
</script>

<script type="text/template" id="stepPublishedViewTemplate">
    <div class="panel_content">
        <div class="panel">
            <div class="content">      
                <h2 class="tb">Congratulations!</h2>
                <div class="desc">
                    <h4 class="tb">
                        Your Trail Card has now been published.  Please contact <a href="mailto:support@trailburning.com">support</a> if you have any questions.
						<div class="next_step"><a href="{{ app.request.baseUrl }}/trail/<%= id %>" class="btn btn-tb-action btn-tb-large submit">View your Trail</a></div>                        
                        Now share share it with the world!
                        <div class="social">
							<div><a href="http://www.facebook.com/share.php?u=www.trailburning.com/trail/<%= id %>" class="button facebook" target="_blank">Facebook</a></div><!--
						 --><div><a href="http://twitter.com/share?text=I&apos;m %23Trailburning!&url={{ app.request.baseUrl }}/trail/<%= id %>" class="button twitter" target="_blank">Twitter</a></div>
                        </div>                        
                    </h4>
                </div>                 
            </div>
        </div>
		<div class="step_marker_container">
			<div class="tb-step-marker tb-step"><div class="photo"><img src="{{ asset('assets/img/steps') }}/step_publish.jpg"></div></div>
		</div>	                
    </div>    
</script>

<script type="text/template" id="trailMapViewTemplate">
    <div id='trail_map'></div>
</script>

{% endblock %}

