{% extends '::base.html.twig' %}

{% block title %}Trailmaker{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/jquery-ui-1.10.4.custom.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ asset('assets/css/jquery.fileupload.css') }}" rel="stylesheet" type="text/css">
<link href="{{ asset('assets/css/trailmaker.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<script>
var TB_APP = 'TrailmakerApp';
var TB_TRAIL_ID = {{ id }};
var TB_USER_ID = {{ app.user.id }}
</script>

<div id="contentview" class="clearfix">    
    <div id='trail_map_view' class="clearfix"></div>
    <div id="view_map_btns">        
        <div class='controls'>
            <span class="btn btn-tb zoomin_btn">+</span>          
            <span class="btn btn-tb zoomout_btn">-</span>
            <span class="btn btn-tb view_btn">Satellite</span>          
        </div>    
    </div>    
    <div id='trail_map_overlay'></div>

    <div id="trail_info">      
        <div class="trail_title">
          <h2 class="tb tb-title event_name"></h2>
          <br/>
          <h2 class="tb tb-title trail_name"></h2>
        </div>
    </div>

    <div id="steps" class="clearfix">
        <div id="step_route_view"></div>
        <div id="step_route_edit_view"></div>
        <div id="step_published_view"></div>
    </div>

    <div id='content_overlay'></div>	
    <div id='overlay_view'></div>    
</div>    

{% endblock %}

{% block javascripts %}

<script src="{{ asset('assets/js/libs/jquery-ui-1.10.3.custom.min.js') }}"></script>

<script src="{{ asset('assets/js/libs/jquery.validationEngine-en.js') }}"></script>
<script src="{{ asset('assets/js/libs/jquery.validationEngine.js') }}"></script>

<script src="{{ asset('assets/js/libs/jquery.iframe-transport.js') }}"></script>
<script src="{{ asset('assets/js/libs/jquery.fileupload.js') }}"></script>

<script src="{{ asset('assets/js/libs/jquery.tinysort.js') }}"></script>

<script type="text/template" id="overlayViewTemplate">
  <div id="overlayContent_view"></div>
</script>

<script type="text/template" id="stepRouteViewTemplate">
  <div class="panel_content">
  	<div class="panel">
      <div class="content">      
        <h1 class="tb">Trail Map</h1>
        <div id="uploadGPX_view"></div>
        <div id="uploadGPXprogress_view"></div>
      </div>
    </div>
    <div class="step_marker_container">
      <div class="step_marker">2</div>  
    </div>
  </div>    
</script>

<script type="text/template" id="trailUploadGPXViewTemplate">
    <div class="desc">
        <h4 class="tb">Make sure you have your GPX file handy, save it to your computer from your GPX tracking device, and then upload.</h4>
    </div>        
    <form id="uploadGPXForm">      
        <span class="btn btn-tb-action btn-tb-large fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Upload GPX File</span>
            <!-- The file input field used as target for the file upload widget -->
            <input type="file" id="gpxfileupload" name="gpxfile">
        </span>
    </form>        
</script>

<script type="text/template" id="trailUploadGPXProgressViewTemplate">   
    <div class="desc">
        <h4 class="tb">Now making GPS interesting...</h4>
    </div>        
    <div class="progress_container">
        <div class="progressbar"></div>  
    </div>  
    <h4 class="tb"><span class="percent">0</span>%</h4>
</script>

<script type="text/template" id="stepRouteEditViewTemplate">
    <div id="uploadPhoto_view"></div>
    <div id="uploadPhotoprogress_view"></div>
  
    <div class="gallery_panel">  	
        <div class="slideshow_container">
            <div class="slideshow">
                <div id="slideshow_view"></div>
            </div>
        </div>
    </div>

    <div class="detail_panel clearfix">
        <div class="line_break"></div>
        <div class="content">      
            <h1 class="tb">Story</h1>            
            <div class="desc">
                <h4 class="tb">Tell us more about your trail</h4>
            </div>        
            <form>
                <div class="form-group">
                    <label for="form_event"><h4 class="tb">Name your trail</h4></label>
                    <input type="text" name="form_trail_name" id="form_trail_name" class="validate[required]">
                </div>
                <div class="form-group">
                    <label for="form_event"><h4 class="tb">Trail region</h4></label>
                    <input type="text" name="form_trail_region" id="form_trail_region" class="validate[required]">
                </div>
                <div class="form-group">
                    <div class="dropdown" id="trail_types">
                        <button class="btn dropdown-toggle sr-only btn-info" type="button" id="form_trail_type" data-toggle="dropdown">
                            <span data-bind="label">Trail type</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        </ul>
                    </div>      
                </div>
                <div class="form-group">
                    <label for="form_notes"><h4 class="tb">Trail notes</h4></label>
                    <textarea name="form_trail_notes" id="form_trail_notes"></textarea>
                </div>      
                <div class="form-group">
                    <div class="update"><span class="btn btn-tb-action btn-tb-large update_details">Update</span></div>
                </div>      
            </form>
        </div>
    </div>

    <div class="trailcard_panel">
        <div class="content clearfix">      
            <div class="left">                  
                <div class="trail_card_sticker">
                	<div class="panel trail_card_panel">
                		<div class="title"><h3 class="tb trail_card_category"></h3></div>
                        <a href="../../trail/demo">
                            <div class="photo tb-photo-btn">
                                <div class="image_container"></div>
                                <div class="card_title">
                                    <h1 class="trail_card_title"></h1>
                                    <br />
                                    <h1 class="trail_card_region"></h1>
                                </div>
                            </div>
                        </a>
                        <div class="summary">
                            <div class="avatar">
                                <a href="../../profile/mattallbeury"><img src="https://s3-eu-west-1.amazonaws.com/trailburning-assets/images/profile/mattallbeury/avatar_ma.png"></a>
                            </div>
                            <div class="detail">
                              by <strong>Matt Allbeury</strong>
                                <div class="stars">
                                    <div class="star_full"></div>
                                    <div class="star_full"></div>
                                    <div class="star_full"></div>
                                    <div class="star_half"></div>
                                    <div class="star"></div>
                                </div>
                            </div>
                        </div>
                 	</div>						 	
                </div>		 
            </div>
                <div class="right">
                <h3 class="tb">This is how your Trail Card will look</h3>      	
                <h4 class="tb">
                Make sure you chose your favourite  picture on the map, by using the star icon. If you’re ok with it, then let’s share your trail!      	
                </h4>      
                <div class="publish"><span class="btn btn-tb-action btn-tb-large submit">Publish Trail</span></div>                
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="trailUploadPhotoViewTemplate">
    <form id="uploadPhotoForm">  	
        <span class="btn btn-tb-action btn-tb-large fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add Pictures</span>
            <!-- The file input field used as target for the file upload widget -->
            <input type="file" id="photofileupload" name="medias[]">
        </span>
    </form>        
</script>

<script type="text/template" id="trailUploadPhotoProgressViewTemplate">
    <div class="panel_content">
        <div class="panel">
            <div class="content">      
                <h1 class="tb">Upload Photo</h1>
                <div class="desc">
                    <h4 class="tb">Now adding photo...</h4>
                </div>        
                <div class="progress_container">
                    <div class="progressbar"></div>  
                </div>  
                <h4 class="tb"><span class="percent">0</span>%</h4>
            </div>
        </div>
        <div class="step_marker_container">
            <div class="step_marker">2</div>  
        </div>
    </div>    
</script>

<script type="text/template" id="slideshowViewTemplate">
</script>

<script type="text/template" id="slideshowSlideViewTemplate">
  <div class="photo">
  	<div class="image_container"><img src="http://app.resrc.it/O=80/http://s3-eu-west-1.amazonaws.com/<%= versionLargePath%>" class="resrc scale"></div>
  </div>  	
</script>

<script type="text/template" id="stepPublishedViewTemplate">
    <div class="panel_content">
        <div class="panel">
            <div class="content">      
                <h1 class="tb">Published</h1>
                <div class="desc">
                    <h4 class="tb">
                        Congratulations, your Trail Card has now been published!
                        <br /><br />
                        If you have any questions then please do not hesitate to contact Trailburning <a href="mailto:support@trailburning.com">support</a>.
                    </h4>
                </div> 
                <div class="next_step"><a href="../../" class="btn btn-tb-action btn-tb-large submit">View your Trail Card</a></div>
            </div>
        </div>
        <div class="step_marker_container">
            <div class="step_marker">3</div>  
        </div>
    </div>    
</script>

<script type="text/template" id="trailMapViewTemplate">
    <div id='trail_map'></div>
</script>

{% endblock %}

