{% extends '::base.html.twig' %}

{% block meta %}
{# add canonical link for search engines when displaying trail in relation with editorials or events #}
{% if editorial != null or event != null %}
<link rel="canonical" href="{{ url('trail', {'trailSlug': trail.slug}) }}"/>
{% endif %}
{% endblock %}

{% block title %}{{ trail.name }}{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/trail.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<script>
var TB_APP = 'TrailApp';
{% if app.user %}		
var TB_USER_ID = {{ app.user.id }};
{% endif %}
var TB_TRAIL_ID = {{ trail.id }};
</script>

{% if editorial %}
	<div id="small_sponsor_bar">
		<div class="sponsor_content">
			<div class="link"><a href="{{ path('editorial', {slug: editorial.slug}) }}"><img src="{{ asset('assets/img/sponsor/arrow_small.png') }}">&nbsp;&nbsp;&nbsp;&nbsp;Back to #Inspire</a></div>
			<div class="brand">
				<div class="strap">#Inspire brought to you by</div>
				<div class="logo"><a href="{{ path('profile', {'name': 'ashmei'}) }}"><img src="https://s3-eu-west-1.amazonaws.com/trailburning-assets/images/profile/ashmei/editorial_sponsor_logo_small.png" border="0"></a></div>
			</div>
		</div>
	</div>
{% endif %}

{% if editorial %}
<div id="content_view" class="sponsor_header">
{% else %}
<div id="content_view">
{% endif %}	
    <div id="trailplayer">
        <div id="trail_views">        
            <div id="trail_map_view"></div>
            <div id="trail_slides_view"></div>
        </div>
        
        <div id="tb-loader-overlay">
  	  	  <div class="back"></div>
  	  	  <div class="tb-loader"><div class="spinner"></div><div class="middle">...</div></div>
  	  	</div>        
        
        <div id="trail_info">   
        	
        	{% if event %}
        	{% else %}
	            <div class="trail_avatar">
	            	<div class="tb-avatar tb-avatar-feature"><div class="photo"><a href="{{ path('profile', {'name': user.name}) }}">                	
	            {% if user.avatar %}
	            	<img src="https://s3-eu-west-1.amazonaws.com/trailburning-assets/images/profile/{{ user.name }}/avatar.jpg">                		               
	            {% elseif user.avatarGravatar %}
	                <img src="{{ user.avatarGravatar }}">                	
        	  	{% else %}
            		<img src="{{ asset('assets/img/avatar_man.jpg') }}">	                
	            {% endif %}
	            	</a></div></div>
	            </div>
            {% endif %}
            <div class="trail_title{% if event %} no_avatar{% endif %}">
                {% if event %}
                    <h2 class="tb tb-title">{{ event.title }}</h2>
                    <br/>
                    <h2 class="tb tb-title">{{ trail.name }}</h2>
                {% else %}
                    <h2 class="tb tb-title">{{ trail.name }}</h2>
                    <br/>
                    <h2 class="tb tb-title">{{ trail.region }}</h2>
                {% endif %}
                {% if user.id != 1 %}
                    <br/> 
                    {% if user is UserProfile %}
                        <div class="author">by <strong>{{ user.firstName }} {{ user.lastName }}</strong></div>
                    {% elseif user is BrandProfile %}
                        <div class="author">by <strong>{{ user.displayName }}</strong></div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div id="view_map_btns">        
            <div class='controls'>
                <span class="btn btn-tb zoomin_btn">+</span>          
                <span class="btn btn-tb zoomout_btn">-</span>
                <span class="btn btn-tb view_btn">Satellite</span>          
            </div>    
        </div>    
        <div id="view_player_btns">
            <div id="slideshow_toggle"><span class="button"></span></div>
            <div id="view_toggle"><span id="view_toggle_btn" class="button">Change View</span></div>
        </div>
    </div>
  
    <div class="panel_container">       
        <div class="panel_content_container">       
            <div class="panel_content">       
                <div id="bigbar">
                    {{ include('TBFrontendBundle:Default:breadcrumb.html.twig', breadcrumb) }}
                    {{ include('TBFrontendBundle:Default:share.html.twig') }}
                    
					{% if app.user %}
						{% if app.user.id != user.id %}
							<div class="like"><a href="javascript:void(0)" class="btn btn-tb-action btn-tb like_btn" data-off="Like" data-on="Liked" data-userid="{{ user.id}}"><i class="icon-star icon-white"></i> <span class="btn-label">Like</span></a></div>
						{% endif %}
					{% else %}
						<div class="like"><a href="{{ path('fos_user_security_login') }}" class="btn btn-tb-action btn-tb like_btn" data-off="Like" data-on="Liked" data-userid="{{ user.id}}"><i class="icon-star icon-white"></i> <span class="btn-label">Like</span></a></div>
					{% endif %}
                </div>

                <div class="panels clearfix">     
                    <div class="two_col_panels">
                        <div class="left">
                            <div class="panel trail_detail_panel">
                                <div class="content">
                                    <h3 class="tb">About the trail</h3>
                                    <h4 class="tb">{{ trail.about|nl2br }}</h4>
                                </div>
                            </div>
                        </div>  
                        <div class="right">
                            <div id="trail_weather_view" class="panel trail_weather_panel"></div>
                            {% if event and eventTrails %}
                				<div class="event_trails_container">
                                {% for eventTrail in eventTrails %}                                
				                    {% if eventTrails|length == 1 %}
				                        <div class="panel big_event_trail">
				                            <h3 class="tb">{{ eventTrail.routeType ? eventTrail.routeType.name : 'Run' }}</h3>
				                            <a href="{{ path('trail', {trailSlug: eventTrail.slug}) }}">
				                                <div class="photo tb-photo-btn">
				                                    <div class="image_container"><img src="http://app.resrc.it/http://s3-eu-west-1.amazonaws.com/{{ eventTrail.medias[0].path }}" class="resrc scale" border="0"/></div>
				                                    <div class="card_title">
				                                        {% if eventTrail.eventRoutes[0].date %}
				                                            <h1>{{ eventTrail.eventRoutes[0].date|date('d.m.y') }}</h1>
				                                            <br/>
				                                        {% endif %}
				                                        <h1>{{ eventTrail.name }}</h1>
				                                    </div>
				                                </div>
				                            </a>
				                            <div class="details">
				                                <div class="logo"><!--<img src="http://s3-eu-west-1.amazonaws.com/trailburning-assets/images/events/tfor/trail_logo_ashmei.png" border="0"/>--></div>
				                                <div class="more"><a class="btn btn-tb" href="{{ path('trail', {trailSlug: eventTrail.slug}) }}">More</a></div>
				                            </div>
				                        </div>
				                    {% else %}                                
				                        <div class="panel event_trail">
				                        	<h3 class="tb">{{ eventTrail.shortName ? eventTrail.shortName : eventTrail.name  }}</h3>
				                        	<a href="{{ path('trail', {trailSlug: eventTrail.slug}) }}">
				                                <div class="detail">
				                                    {% if eventTrail.tags.ascent %}
				                                        <div class="terrain">
				                                            <h2 class="tb">{{ eventTrail.tags.ascent|dimension_format('m') }}</h2>
				                                            {% if eventTrail.tags.descent %}
				                                            <div class="desc">D+ / {{ eventTrail.tags.descent|dimension_format('m') }} D-</div>
				                                            {% endif %}
				                                        </div>                                              
				                                    {% endif %}
				                                    <div class="length">
				                                        <h2 class="tb">{{ eventTrail.length|dimension_format('km', 1000) }}</h2>
				                                        <div class="desc">Length</div>
				                                    </div>
				                                </div>
				                            </a>
				                            <div class="more"><a class="btn btn-tb"  href="{{ path('trail', {trailSlug: eventTrail.slug}) }}">More</a></div>
				                        </div>				                        
									{% endif %}				                        
                                {% endfor %}
                                </div>
                            {% endif %}
                        </div>  
                    </div>
                    
                    {% if editorial and editorialTrails %}
                        <div class="panel editorial_panel">
                	
    		  				<div class="editorial_header">
    			  				<div class="header"><h3 class="tb">{{ editorial.title }}</h3></div>
    			  				<div class="line"></div>
    			  				<div class="author"><h4 class="tb">Discover more trails from #Inspire by <strong>{{ editorial.user.title }}</strong>&nbsp;&nbsp;&nbsp;<span class="date">{{ editorial.date|date('d/m/Y') }}</span></h4></div>
                    		</div>
                	
    				    	<div class="editorial_cards clearfix">
                                {% for editorialTrail in editorialTrails %}
                                     {{ include('TBFrontendBundle:Trail:editorial_trailcard.html.twig', {route: editorialTrail, editorial: editorial}) }} 
                                {% endfor %}
    				    	</div>  
                        </div>
                    {% endif %}
                </div>                                
            </div>                
        	<div class="line_break"></div>            
        </div>
  
        <div id="trail_overlay">
            <div class="overlay_content">
                <div id="trail_stats_view" class="trailstats_panel"></div>
                    <div id="trail_altitude_view" class="trail_altitude_panel"></div>
                    <div id="trail_mini_view">
                    <div id="trail_minimap_view" class="trail_minimap"></div>
                    <div id="trail_minislides_view" class="trail_minislides"></div>
                    <div class='border_top'></div>
                    <div class='border_left'></div>
                    <div class='toggle_view_button'></div>          
                </div>
            </div>
            <div class="overlay_pull"><span class="button"></span></div>
        </div>
    </div>  
</div>  
          
{% endblock %}


{% block javascripts %}

<script src="{{ asset('assets/js/libs/jquery.ui.widget.js') }}"></script>
<script src="{{ asset('assets/js/libs/jquery.touchwipe.min.js') }}"></script>

<script type="text/template" id="trailStatsViewTemplate">
  <div class="content">
    <div class="length"></div>
    <div class="terrain"></div>          
  </div>
</script>

<script type="text/template" id="trailMiniMapViewTemplate">
  <div id='minimap'></div>  
</script>

<script type="text/template" id="trailMiniSlidesViewTemplate">
  <div id='minislides'>
    <div class="photos_container"></div>
  </div>
</script>

<script type="text/template" id="trailSlidesViewTemplate">
  <div class="photos_container"></div>
  <div class="slide_btns">
    <div class="left"></div>
    <div class="right"></div>
  </div>  
  <div class="loader_container">
    <div class="loader"></div>
  </div>  
</script>

<script type="text/template" id="trailSlideViewTemplate">
  <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/O=80/http://s3-eu-west-1.amazonaws.com/<%= versionLargePath%>" class="resrc scale" /></div>  
</script>

<script type="text/template" id="trailMapViewTemplate">
  <div class="map_container">
    <div id='map_large'></div>
  </div>
</script>

<script type="text/template" id="traiAltitudeViewTemplate">
  <div class="profile">
    <canvas id="graph"></canvas>
    <div class="location"></div>      
  </div>
</script>

<script type="text/template" id="trailMediaMarkerViewTemplate">
  <div class="marker_container">
    <div class="marker"></div>
    <div class="alt"></div>  
  </div>
</script>

<script type="text/template" id="trailWeatherViewTemplate">
  <div class="content">
    <h3 class="tb">Today&#39;s weather</h3>
    <div class="desc"></div>
    <div class="detail clearfix">                  
      <div class="text">
        <div class="temp"></div>
        <div class="wind"></div>
      </div>
      <div class="icon"></div>
    </div>
  </div>
</script>

{% endblock %}