{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
<link href="{{ asset('assets/css/signup.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block fos_user_content %}

{% set breadcrumb = [{'name': 'fos_user_security_login', 'params': [], 'label': 'Sign in'}] %}

<script>
var TB_APP = 'BaseApp';
</script>

<div id="contentview" class="clearfix">    
	<div class="panel_content">        	
    	<div class="panel">
      		<div class="content">      
        	<h1 class="tb">Reset password</h1>
            
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                <div>
                    <label for="username">{{ 'resetting.request.username'|trans }}</label>
                    <input type="text" id="username" name="username" required="required" />
                </div>
                <div class="next_step"><button type="submit" class="btn btn-tb-action btn-tb-large">{{ 'resetting.request.submit'|trans }}</button></div>
	            {% if invalid_username is defined %}
	                <div class="error">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</div>
	            {% endif %}
            </form>
            
            
            </div>
            
        </div>
    	<div class="step_marker_container">
    		<div class="step_marker step_marker_signin"></div>  
    	</div>	                        
    </div>
</div>  

{% endblock fos_user_content %}
