{#	
<div id="brand_header">
    <div class="image_container fade_on_load"><img src="http://app.resrc.it/O=90/http://assets.trailburning.com/images/profile/{{ brand.name }}/{{ brand.headerImage }}" class="resrc scale" /></div>
    {% if brand.id == 215 %}
    	<div class="brand_logo" style="top: 166px;">
    {% else %}
    	<div class="brand_logo">
    {% endif %}
    	<a href="{{ brand.link }}" onClick="trackOutboundLink(this, 'Outbound Links', '{{ brand.link|url_truncate }}'); return false;"><img src="http://assets.trailburning.com/images/profile/{{ brand.name }}/{{ brand.avatar }}" border="0"></a></div>
    <div class="tb-credit"></div>
</div>
#}

<div id="campaignplayer">
    <div id="trail_views">        
        <div id="trail_map_view"></div>
        <div id="trail_slides_view"></div>
    </div>
    
    <div id="campaign_landing_overlay_view">        	
    	<div class="back tb-move-horiz"></div>        	
		<div class="info-hero tb-move-horiz">				  						  				
		  <div class="campaign_title tb-move-horiz"><img src="http://assets.trailburning.com/images/profile/{{ brand.name }}/{{ brand.avatar }}" /></div>              
          <div class="campaign_play">
          	<div class="campaign_btn"></div>
          	Discover Trails	
		  </div>              	
		</div>        	
	</div>        	

    <div id="campaign_map_overlay_view">
<!--    	
    	<div class="back tb-move-horiz"></div>
-->    	        	
		<div class="info-hero tb-move-horiz">				  						  				
		  <div class="campaign_title tb-move-horiz"><img src="http://assets.trailburning.com/images/profile/{{ brand.name }}/logo.png" /></div>
<!--		                
          <div class="campaign_card">
			<div class="trailcards">
				<div id="trailcard_view">
					<div class="panel trail_card_panel campaign_card_panel">
					    <div class="photo tb-photo-btn">
					      <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/o=80/http://assets.trailburning.com/images/profile/{{ brand.name }}/{{ brand.headerImage }}" class="resrc scale" border="0"/></div>
					      <div class="card_title">
					        <h1>One heck of a trail</h1>
					        <br/>
					        <h1>running experience</h1>
					        <br/>
					        <h2>Mt Buller, Australia</h2>
					      </div>
					    </div>
						<div class="card_avatar">
						  <a href="{{ app.request.baseUrl }}/profile/{{ brand.name }}"><img src="http://assets.trailburning.com/images/profile/{{ brand.name }}/card_trail_sticker_logo.png"></a>
					    </div>
					    <div class="summary">
						  <div class="length">4 Trails</div>
					    </div>
					</div>						
				</div>
			</div>
			
		  </div>
-->		                	
		</div>        	
	</div>        	
    
    <div id="tb-loader-overlay">
  	  <div class="back"></div>
  	  <div class="tb-loader"><div class="spinner"></div><div class="middle">...</div></div>
  	</div>        
    
    <div id="view_map_btns">        
        <div class='controls'>
            <span class="btn btn-tb zoomin_btn">+</span>          
            <span class="btn btn-tb zoomout_btn">-</span>
            <span class="btn btn-tb view_btn">Satellite</span>          
        </div>    
    </div>
    
	<div id="view_player_btns" class="tb-move-vert">
      	<div class="close_btn"></div>	
    </div>            
</div>
