{# Display a user avatar and that links to the users profile #}
{% if class is not defined  %}
    {% set class = '' %}
{% endif %}
<div class="tb-avatar {{ class }}">
    <div class="photo">
        <a href="{{ path('profile', {'name': user.name}) }}">		          	
            {% if user.avatar %}
            	<img src="https://s3-eu-west-1.amazonaws.com/trailburning-assets/images/profile/{{ user.name }}/avatar.jpg">
            {% elseif user.avatarGravatar %}
            	<img src="{{ user.avatarGravatar }}">
            {% else %}
            	<img src="{{ asset('assets/img/avatar_man.jpg') }}">
            {% endif %}
        </a>
    </div>
</div>