{% extends '::base.html.twig' %}

{% block title %}{{ brand.title }}{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/brand.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<script>
var TB_APP = 'BrandApp';
{% if app.user %}		
var TB_USER_ID = {{ app.user.id }};
{% endif %}
var TB_BRAND_LONG = {{ brand.location.longitude }};
var TB_BRAND_LAT = {{ brand.location.latitude }};
/* mla temp */
var TB_BRAND_ID = {{ brand.id }};
</script>

{{ include('TBFrontendBundle:Profile:_brandHeader.html.twig', [brand]) }}

<div class="panel_content">          
    <div id="bigbar">
        {{ include('TBFrontendBundle:Default:breadcrumb.html.twig', breadcrumb) }}
        {{ include('TBFrontendBundle:Default:share.html.twig') }}
    </div>
            
    <div class="panels clearfix">           
        <div class="left">        
            <div class="panel brand_detail_panel">
                <div class="content">
                    <h3 class="tb title">{{ brand.subtitle }}</h3>
                    <h4 class="tb">{{ brand.synopsis|nl2br }}</h4>
                    <p>{{ brand.about|nl2br }}</p>
                    <div class="join"><a href="{{ brand.link }}" onClick="trackOutboundLink(this, 'Outbound Links', '{{ brand.link|url_truncate }}'); return false;" class="btn btn-tb-action btn-tb-large">Visit official website</a></div>
                </div>
            </div>
            {% if brand.id == 215 %}
            <div class="panel brand_location_panel">
                <div class="content">
                    <div id="brand_location_map" class="brand_location_map"></div>
                </div>
            </div>         
            {% endif %}   
            {% if brand.id == 220 %}
            <div class="panel brand_location_panel">
                <div class="content">
                    <div id="brand_location_map" class="brand_location_map"></div>
                </div>
            </div>         
            {% endif %}   
        </div>
      
        <div class="right">
        	
        {% if brand.id == 215 %}
    		<div class="trails_title">
    		<h2 class="tb tb-title first-title ">Discover the trails</h2>
    		</div>
			
        	<div class="event_container trailcards">
			
				<div class="panel trail_card_panel">
				    <div class="title"><h3 class="tb">Mountains</h3></div>
				    <a href="../trail/gang-gangs-lazy-loop-mt-buller ">
				    <div class="photo tb-photo-btn">
				      <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/o=80/http://media.trailburning.com/422/8da94c153dafeb392390301ce17ae380f02e271b.jpg" class="resrc scale" border="0"></div>
				      <div class="card_title">
				        <h1>Gang Gangs Lazy Loop</h1>
				      </div>
				      <div class="trail_level ts_green"></div>
				    </div>
				    </a>
					<div class="card_avatar sponsor"><a href="../profile/mtbuller"><img src="http://assets.trailburning.com/images/profile/mtbuller/card_trail_sticker_logo.png"></a></div>	
				    <div class="summary">
						<div class="length">4 km</div>
						<div class="altitude">
						199 m D+
						<br/> 
					    199 m D-
						</div>
				    </div>
				</div>

				<div class="panel trail_card_panel">
				    <div class="title"><h3 class="tb">Mountains</h3></div>
				    <a href="../trail/buller-stirling-showcase-mt-buller">
				    <div class="photo tb-photo-btn">
				      <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/o=80/http://media.trailburning.com/423/6ac3d807743f8aa25ab5827b5db1c88e58a0cbad.jpg" class="resrc scale" border="0"></div>
				      <div class="card_title">
				        <h1>Buller Stirling Showcase</h1>
				      </div>
				      <div class="trail_level ts_black"></div>
				    </div>
				    </a>
					<div class="card_avatar sponsor"><a href="../profile/mtbuller"><img src="http://assets.trailburning.com/images/profile/mtbuller/card_trail_sticker_logo.png"></a></div>				    
				    <div class="summary">
						<div class="length">28 km</div>
						<div class="altitude">
						1’121 m D+
						<br/> 
					    1’126 m D-
						</div>
				    </div>
				</div>

				<div class="panel trail_card_panel">
				    <div class="title"><h3 class="tb">Mountains</h3></div>
				    <a href="../trail/delatite-drop-mt-buller">
				    <div class="photo tb-photo-btn">
				      <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/o=80/http://media.trailburning.com/424/eb97dca023f18faa30ea01f98404c225aae7acb1.jpg" class="resrc scale" border="0"></div>
				      <div class="card_title">
				        <h1>Delatite Drop</h1>
				      </div>
				      <div class="trail_level ts_blue"></div>
				    </div>
				    </a>
					<div class="card_avatar sponsor"><a href="../profile/mtbuller"><img src="http://assets.trailburning.com/images/profile/mtbuller/card_trail_sticker_logo.png"></a></div>				    
				    <div class="summary">
						<div class="length">14 km</div>
						<div class="altitude">
						369 m D+
						<br/> 
					    1’281 m D-
						</div>
				    </div>
				</div>

				<div class="panel trail_card_panel">
				    <div class="title"><h3 class="tb">Mountains</h3></div>
				    <a href="../trail/outer-space-loop-mt-buller">
				    <div class="photo tb-photo-btn">
				      <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/o=80/http://media.trailburning.com/425/1a758b7c527873593f6d7d5af1e6543f04c89ef7.jpg" class="resrc scale" border="0"></div>
				      <div class="card_title">
				        <h1>Outer Space Loop</h1>
				      </div>
				      <div class="trail_level ts_blue"></div>
				    </div>
				    </a>
					<div class="card_avatar sponsor"><a href="../profile/mtbuller"><img src="http://assets.trailburning.com/images/profile/mtbuller/card_trail_sticker_logo.png"></a></div>				    
				    <div class="summary">
						<div class="length">11 km</div>
						<div class="altitude">
						518 m D+
						<br/> 
					    527 m D-
						</div>
				    </div>
				</div>

			</div>
        {% endif %}   
        	
        {% if brand.id == 220 %}
    		<div class="trails_title">
    		<h2 class="tb tb-title first-title ">Discover the events</h2>
    		</div>
    		
        	<div class="event_container trailcards">
			
				<div class="panel trail_card_panel">
				    <div class="title"><h3 class="tb">Mountains</h3></div>
				    <a href="../trail/motatapu-mountain-bike-race-queenstown">
				    <div class="photo tb-photo-btn">
				      <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/o=80/http://media.trailburning.com/442/0513647ef818efbf73f0810a3c5903e8c5040d2c.jpg" class="resrc scale" border="0"></div>
				      <div class="card_title">
				        <h1>Mountain Bike</h1>
				      </div>
				      <div class="trail_level ts_black"></div>
				    </div>
				    </a>
					<div class="card_avatar sponsor"><a href="../profile/motatapu"><img src="http://assets.trailburning.com/images/profile/motatapu/card_trail_sticker_logo.png"></a></div>	
				    <div class="summary">
						<div class="length">47 km</div>
						<div class="altitude">
						1'000 m D+
						<br/> 
					    1'000 m D-
						</div>
				    </div>
				</div>

				<div class="panel trail_card_panel">
				    <div class="title"><h3 class="tb">Mountains</h3></div>
				    <a href="../trail/motatapu-mountain-bike-race-queenstown">
				    <div class="photo tb-photo-btn">
				      <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/o=80/http://assets.trailburning.com/images/profile/motatapu/brand_hero.jpg" class="resrc scale" border="0"></div>
				      <div class="card_title">
				        <h1>Off Road Marathon</h1>
				      </div>
				      <div class="trail_level ts_black"></div>
				    </div>
				    </a>
					<div class="card_avatar sponsor"><a href="../profile/motatapu"><img src="http://assets.trailburning.com/images/profile/motatapu/card_trail_sticker_logo.png"></a></div>	
				    <div class="summary">
						<div class="length">42 km</div>
						<div class="altitude">
						1'000 m D+
						<br/> 
					    1'000 m D-
						</div>
				    </div>
				</div>

				<div class="panel trail_card_panel">
				    <div class="title"><h3 class="tb">Mountains</h3></div>
				    <a href="../trail/motatapu-mountain-bike-race-queenstown">
				    <div class="photo tb-photo-btn">
				      <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/o=80/http://assets.trailburning.com/images/profile/motatapu/brand_hero.jpg" class="resrc scale" border="0"></div>
				      <div class="card_title">
				        <h1>Adventure Run Team</h1>
				      </div>
				      <div class="trail_level ts_black"></div>
				    </div>
				    </a>
					<div class="card_avatar sponsor"><a href="../profile/motatapu"><img src="http://assets.trailburning.com/images/profile/motatapu/card_trail_sticker_logo.png"></a></div>	
				    <div class="summary">
						<div class="length">51 km</div>
						<div class="altitude">
						1'000 m D+
						<br/> 
					    1'000 m D-
						</div>
				    </div>
				</div>

				<div class="panel trail_card_panel">
				    <div class="title"><h3 class="tb">Mountains</h3></div>
				    <a href="../trail/motatapu-mountain-bike-race-queenstown">
				    <div class="photo tb-photo-btn">
				      <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/o=80/http://assets.trailburning.com/images/profile/motatapu/brand_hero.jpg" class="resrc scale" border="0"></div>
				      <div class="card_title">
				        <h1>Miners Trail</h1>
				      </div>
				      <div class="trail_level ts_blue"></div>
				    </div>
				    </a>
					<div class="card_avatar sponsor"><a href="../profile/motatapu"><img src="http://assets.trailburning.com/images/profile/motatapu/card_trail_sticker_logo.png"></a></div>	
				    <div class="summary">
						<div class="length">15 km</div>
						<div class="altitude">
						500 m D+
						<br/> 
					    500 m D-
						</div>
				    </div>
				</div>
    		
    		</div>
    		
        {% endif %}   
        	
        {% if events %}
        
        	{% if events|length > 1 %}
        		<div class="trails_title">
        		<h2 class="tb tb-title first-title ">Discover the trails</h2>
        		</div>
        	{% endif %}
        
            <div class="event_container">
            {% for event in events %}
            
            	{% if events|length == 1 %}
	                <div class="panel big_event_panel">
	                    <a href="{{ path('event', {slug: event.slug}) }}">
	                        <div class="photo tb-photo-btn">
	                            <div class="image_container fade_on_load"><img src="http://app.resrc.it/O=80/http://assets.trailburning.com/images/events/{{ event.slug }}/{{ event.image}}" class="resrc scale" border="0"/></div>
	                            <div class="logo"><img src="http://assets.trailburning.com/images/events/{{ event.slug }}/postcard_{{ event.logo }}"></div>              
	                        </div>
	                    </a>
	                    <div class="details">
	                    <div class="detail"><strong>{{ event.title }} {{ event.title2 }}</strong><br />Event - {{ event.date|date('d M Y') }}</div>
	                    <div class="more"><a class="btn btn-tb" href="{{ path('event', {slug: event.slug}) }}">More</a></div>
	                    </div>
	                </div>
            	{% else %}
		   	      <div class="panel trail_card trail_card_panel">
			        <div class="title"><h3 class="tb">Category</h3></div>
		            <a href="">
		            <div class="photo tb-photo-btn">
		              <div class="image_container fade_on_load">
	                     {% if event.media is defined %}
	                       <img src="http://app.resrc.it/O=80/http://media.trailburning.com{{ event.media.versions[0].path }}" class="resrc scale" border="0"/>
	                     {% else %}
	                        <img src="http://app.resrc.it/s=w260,pd1/o=80/http://assets.trailburning.com/images/default/example_trailcard.jpg" class="resrc scale" border="0"/>
	                     {% endif %}
	                  </div>
			          <div class="card_title">
						<h1>Name</h1>
						<br/>
						<h1>Region</h1>
			          </div>
		            </div>
		          	</a>
			      	<div class="summary">
      					<div class="sponsor"><a href=""><img src="http://assets.trailburning.com/images/profile/mtbuller/card_logo3.png"></a></div>
      					<div class="location"></div>
			        </div>
		          </div>
            	{% endif %}
            
            {% endfor %}
            </div>        
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}
