{% extends '::base.html.twig' %}

{% block title %}{{ brand.title }}{% endblock %}

{% block description %}
{{ brand.synopsis }}
{% endblock %}

{% block og_image %}
{% if brand.shareImage is not null %}http://assets.trailburning.com/{{ brand.shareImage }}{% else %}http://www.trailburning.com/assets/img/social/tb_profile_icon.png{% endif %}
{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/brand.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<script>
var TB_APP = 'BrandApp';
var TB_PATH = '{{ app.request.baseUrl }}';
{% if app.user %}		
var TB_USER_ID = {{ app.user.id }};
{% endif %}
var TB_BRAND_LONG = {{ brand.location.longitude }};
var TB_BRAND_LAT = {{ brand.location.latitude }};
/* mla temp */
var TB_BRAND_ID = {{ brand.id }};
</script>

<div id="content_view">	
	
{{ include('TBFrontendBundle:Profile:_brandHeader.html.twig', [brand]) }}

<div class="panel_content">          
    <div id="bigbar">
        {{ include('TBFrontendBundle:Default:breadcrumb.html.twig', breadcrumb) }}
        {{ include('TBFrontendBundle:Default:share.html.twig') }}
    </div>
            
    <div class="panels clearfix">           
        <div class="left">        
            <div class="panel brand_detail_panel">
                <div class="content">
                    <h3 class="tb title">{{ brand.subtitle }}</h3>
                    <h4 class="tb">{{ brand.synopsis|nl2br }}</h4>
                    <p>{{ brand.about|nl2br }}</p>
                    <div class="join"><a href="{{ brand.link }}" onClick="trackOutboundLink(this, 'Outbound Links', '{{ brand.link|url_truncate }}'); return false;" class="btn btn-tb-action btn-tb-large">Visit official website</a></div>
                </div>
            </div>
            {% if brand.id == 215 %}
            <div class="panel brand_location_panel">
                <div class="content">
                    <div id="brand_location_map" class="brand_location_map"></div>
                </div>
            </div>         
            {% endif %}   
            {% if brand.id == 220 %}
            <div class="panel brand_location_panel">
                <div class="content">
                    <div id="brand_location_map" class="brand_location_map"></div>
                </div>
            </div>         
            {% endif %}   
        </div>
      
        <div class="right">
        	
        {% if routes %}
    		<div class="trails_title"><h2 class="tb tb-title first-title ">Discover the trails</h2></div>
        		
              {% if brand.id == 215 %}
				<div class="panel trail_card_panel campaign_panel">
					<div class="content">                                            
    	            <a href="{{ app.request.baseUrl }}/campaign/mtbuller">
    	            <div class="photo tb-photo-btn">
    	            	<div class="image_container fade_on_load tb-fade-in"><img src="http://app.resrc.it/s=w920,pd1/o=80/http://assets.trailburning.com/images/campaign/mtbuller/LM_131122_MtBuller_0462_HIGHres.jpg" class="resrc scale" border="0"></div>                                    
						<div class="overlay">
    	                	<div class="logo"><img src="http://assets.trailburning.com/images/campaign/mtbuller/logo.png"></div>
						</div>                                    
    	                <div class="card_title">
    	                <h1>Discover Mt Buller</h1>
    	                <br>
    	                <h1>running trails.</h1>
    	       			</div>
    	         	</div>
    	         	</a>
    	        	</div>    
				</div>                                    								               
              {% endif %}   
        		
        	<div class="event_container trailcards">
                {% for route in routes %}
    				<div class="panel trail_card trail_card_panel">
    					<div class="title">
    						<h3 class="tb">{{ route.category.name}}</h3>
    					</div>
    					<a href="{{ path('trail', {'trailSlug': route.slug}) }}">
    					<div class="photo tb-photo-btn">
    						<div class="image_container fade_on_load">
    							{% if route.media is defined %}
    							<img src="http://app.resrc.it/O=80/http://media.trailburning.com{{ route.media.versions[0].path }}" class="resrc scale" border="0"/>
    							{% else %}
    							<img src="http://app.resrc.it/s=w260,pd1/o=80/http://assets.trailburning.com/images/default/example_trailcard.jpg" class="resrc scale" border="0"/>
    							{% endif %}
    						</div>
    						<div class="card_title">
    							<h1>{{ route.name }}</h1>
    							<br/>
    							<h2>{{ route.region }}</h2>
    							<br/>
    							<h2>{{ include('TBFrontendBundle:Trail:_trailcardRating.html.twig', {'trail': route}) }}</h2>
    						</div>
{#
							<div class="trail_level ts_green"></div>    							
#}    						
    					</div></a>					
                                
                        <div class="card_avatar sponsor"><a href="{{ path('profile', {'name': brand.name}) }}"><img src="http://assets.trailburning.com/images/profile/{{ brand.name }}/card_trail_sticker_logo.png"></a></div>                        
    					<div class="summary">
    						<div class="length">{{ route.length|dimension_format('km', 1000) }}</div>
    						<div class="altitude">
                            {% if route.tags.ascent %}
                            	{{ route.tags.ascent|dimension_format('m') }} D+
                                {% if route.tags.descent %}
                                	<br/>{{ route.tags.descent|dimension_format('m') }} D-
                                {% endif %}
                            {% endif %}
    						</div>
    					</div>
{#							    					
						<div class="card_avatar">
			       		{{ include('TBFrontendBundle:Profile:_userAvatar.html.twig', {user: route.user}) }}
						</div>	
#}				       		
    					
    				</div>
                {% endfor %}
            </div>
            
        {% endif %}
        	
        {% if brand.id == 220 %}
    		<div class="trails_title">
    		<h2 class="tb tb-title first-title ">Discover the events</h2>
    		</div>
    		
        	<div class="event_container trailcards">
			
				<div class="panel trail_card_panel">
				    <div class="title"><h3 class="tb">Mountains</h3></div>
				    <a href="../trail/motatapu-mountain-bike-race-queenstown">
				    <div class="photo tb-photo-btn">
				      <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/o=80/http://media.trailburning.com/442/0513647ef818efbf73f0810a3c5903e8c5040d2c.jpg" class="resrc scale" border="0"></div>
				      <div class="card_title">
				        <h1>Mountain Bike</h1>
				      </div>
				      <div class="trail_level ts_black"></div>
				    </div>
				    </a>
					<div class="card_avatar sponsor"><a href="../profile/motatapu"><img src="http://assets.trailburning.com/images/profile/motatapu/card_trail_sticker_logo.png"></a></div>	
				    <div class="summary">
						<div class="length">47 km</div>
						<div class="altitude">
						1'000 m D+
						<br/> 
					    1'000 m D-
						</div>
				    </div>
				</div>

				<div class="panel trail_card_panel">
				    <div class="title"><h3 class="tb">Mountains</h3></div>
				    <a href="../trail/motatapu-mountain-bike-race-queenstown">
				    <div class="photo tb-photo-btn">
				      <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/o=80/http://assets.trailburning.com/images/profile/motatapu/brand_hero.jpg" class="resrc scale" border="0"></div>
				      <div class="card_title">
				        <h1>Off Road Marathon</h1>
				      </div>
				      <div class="trail_level ts_black"></div>
				    </div>
				    </a>
					<div class="card_avatar sponsor"><a href="../profile/motatapu"><img src="http://assets.trailburning.com/images/profile/motatapu/card_trail_sticker_logo.png"></a></div>	
				    <div class="summary">
						<div class="length">42 km</div>
						<div class="altitude">
						1'000 m D+
						<br/> 
					    1'000 m D-
						</div>
				    </div>
				</div>

				<div class="panel trail_card_panel">
				    <div class="title"><h3 class="tb">Mountains</h3></div>
				    <a href="../trail/motatapu-mountain-bike-race-queenstown">
				    <div class="photo tb-photo-btn">
				      <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/o=80/http://assets.trailburning.com/images/profile/motatapu/brand_hero.jpg" class="resrc scale" border="0"></div>
				      <div class="card_title">
				        <h1>Adventure Run Team</h1>
				      </div>
				      <div class="trail_level ts_black"></div>
				    </div>
				    </a>
					<div class="card_avatar sponsor"><a href="../profile/motatapu"><img src="http://assets.trailburning.com/images/profile/motatapu/card_trail_sticker_logo.png"></a></div>	
				    <div class="summary">
						<div class="length">51 km</div>
						<div class="altitude">
						1'000 m D+
						<br/> 
					    1'000 m D-
						</div>
				    </div>
				</div>

				<div class="panel trail_card_panel">
				    <div class="title"><h3 class="tb">Mountains</h3></div>
				    <a href="../trail/motatapu-mountain-bike-race-queenstown">
				    <div class="photo tb-photo-btn">
				      <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/o=80/http://assets.trailburning.com/images/profile/motatapu/brand_hero.jpg" class="resrc scale" border="0"></div>
				      <div class="card_title">
				        <h1>Miners Trail</h1>
				      </div>
				      <div class="trail_level ts_blue"></div>
				    </div>
				    </a>
					<div class="card_avatar sponsor"><a href="../profile/motatapu"><img src="http://assets.trailburning.com/images/profile/motatapu/card_trail_sticker_logo.png"></a></div>	
				    <div class="summary">
						<div class="length">15 km</div>
						<div class="altitude">
						500 m D+
						<br/> 
					    500 m D-
						</div>
				    </div>
				</div>
    		
    		</div>
    		
        {% endif %}   
        	
        {% if events %}
        
        	{% if events|length > 1 %}
        		<div class="trails_title">
        		<h2 class="tb tb-title first-title ">Discover the trails</h2>
        		</div>
        	{% endif %}
        
            <div class="event_container">
            {% for event in events %}
            
            	{% if events|length == 1 %}
	                <div class="panel big_event_panel">
	                    <a href="{{ path('event', {slug: event.slug}) }}">
	                        <div class="photo tb-photo-btn">
	                            <div class="image_container fade_on_load"><img src="http://app.resrc.it/O=80/http://assets.trailburning.com/images/events/{{ event.slug }}/{{ event.image}}" class="resrc scale" border="0"/></div>
	                            <div class="logo"><img src="http://assets.trailburning.com/images/events/{{ event.slug }}/postcard_{{ event.logo }}"></div>              
	                        </div>
	                    </a>
	                    <div class="details">
	                    <div class="detail"><strong>{{ event.title }} {{ event.title2 }}</strong><br />Event - {{ event.date|date('d M Y') }}</div>
	                    <div class="more"><a class="btn btn-tb" href="{{ path('event', {slug: event.slug}) }}">More</a></div>
	                    </div>
	                </div>
            	{% else %}
		   	      <div class="panel trail_card trail_card_panel">
			        <div class="title"><h3 class="tb">Category</h3></div>
		            <a href="">
		            <div class="photo tb-photo-btn">
		              <div class="image_container fade_on_load">
	                     {% if event.media is defined %}
	                       <img src="http://app.resrc.it/O=80/http://media.trailburning.com{{ event.media.versions[0].path }}" class="resrc scale" border="0"/>
	                     {% else %}
	                        <img src="http://app.resrc.it/s=w260,pd1/o=80/http://assets.trailburning.com/images/default/example_trailcard.jpg" class="resrc scale" border="0"/>
	                     {% endif %}
	                  </div>
			          <div class="card_title">
						<h1>Name</h1>
						<br/>
						<h1>Region</h1>
			          </div>
		            </div>
		          	</a>
			      	<div class="summary">
      					<div class="sponsor"><a href=""><img src="http://assets.trailburning.com/images/profile/mtbuller/card_logo3.png"></a></div>
      					<div class="location"></div>
			        </div>
		          </div>
            	{% endif %}
            
            {% endfor %}
            </div>        
        {% endif %}
        </div>
    </div>
</div>

</div>

<script type="text/template" id="trailSlidesViewTemplate">
  <div class="photos_container"></div>
  <div class="slide_btns">
    <div class="left">
      <div class="hot"></div>
      <div class="arrow"></div>
    </div>
    <div class="right">
      <div class="hot">
        <div class="arrow"></div>
      </div>    	
    </div>
  </div>  
  <div class="loader_container">
    <div class="loader"></div>
  </div>  
</script>

<script type="text/template" id="trailSlideViewTemplate">
  <div class="background">
    <div class="image_container fade_on_load"><img src="http://app.resrc.it/O=80/http://assets.trailburning.com<%= versionLargePath%>" class="resrc scale" /></div>
  </div>
</script>

<script type="text/template" id="trailMapViewTemplate">
  <div class="map_container">
    <div id='map_large'></div>
  </div>
</script>

<script type="text/template" id="trailMarkerPopupViewTemplate">
  <div class="tb-trailpopup">
  	<div class="card">
  	  <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/O=80/http://media.trailburning.com<%= versionLargePath %>" class="resrc scale"></div>
  	  <div class="card_title">
  	  <h1><%= name %></h1><br/>
  	  <h2><%= region %></h2><br/>
  	  <h2><span class="stars"><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span></span></h2>
  	  </div>
    </div>
    <div class="card_avatar">    
	  <div class="tb-avatar"><div class="photo"><a href="{{ app.request.baseUrl }}/profile/<%= user.name %>"><img src="<%= user.avatar %>"></a></div></div>    	
    </div>
    <div class="detail_container">
      <h3 class="tb"><%= category.name %></h3>
      <div class="summary">
	    <div class="length"><%= length_km %> km</div>
	    <div class="altitude"><%= ascent_m %> D+<br/><%= descent_m %> D-</div>
      </div>
      <div class="btns"><span data-url="{{ app.request.baseUrl }}/trail/<%= slug %>" data-id="<%= id %>" class="btn btn-tb-action btnView">View the Trail</span></div>
    </div>
  </div>              
</script>

<script type="text/template" id="trailEventMarkerPopupViewTemplate">
  <div class="tb-trailpopup">
  	<div class="card">
  	  <div class="image_container fade_on_load"><img data-src="http://app.resrc.it/O=80/http://media.trailburning.com<%= versionLargePath %>" class="resrc scale"></div>
  	  <div class="card_title">
  	  <h1><%= name %></h1><br/>
  	  <h2><%= region %></h2><br/>
  	  </div>
    </div>
    <div class="card_avatar">    
	  <a href="{{ app.request.baseUrl }}/<%= sponsorURL %>"><img src="http://assets.trailburning.com/images/<%= sponsorURL %>/card_trail_sticker_logo.png"></a>    	
    </div>
    <div class="detail_container">
      <h3 class="tb"><%= category.name %></h3>
      <div class="summary">
	    <div class="length"><%= length_km %> km</div>
	    <div class="altitude"><%= ascent_m %> D+<br/><%= descent_m %> D-</div>
      </div>
      <div class="btns"><span data-url="{{ app.request.baseUrl }}/trail/<%= slug %>" data-id="<%= id %>" class="btn btn-tb-action btnView">View the Trail</span></div>
    </div>
  </div>              
</script>

{% endblock %}
