{% extends '::base.html.twig' %}

{% block title %}{{ user.name }}{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/user.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<script>
var TB_APP = 'UserApp';
var TB_USER_LONG = {{ user.location.longitude }};
var TB_USER_LAT = {{ user.location.latitude }};
</script>

<div id="profile_header">
	<div id='profile_map_view'></div>  
	<div class="profile_title">
	    <h1 class="tb tb-title">{{ user.firstName }}</h1>
	    <br/>
        <h1 class="tb tb-title">{{ user.lastName }}</h1>      
        <div class='avatar'><img src="https://s3-eu-west-1.amazonaws.com/trailburning-assets/images/profile/{{ user.name }}/{{ user.avatar }}" /></div>
	</div>
</div>		

<div class="panel_content">
	<div id="bigbar">
        {{ include('TBFrontendBundle:Default:breadcrumb.html.twig', breadcrumb) }}
        {{ include('TBFrontendBundle:Default:share.html.twig') }}
    </div>
                        
    <div class="panels clearfix">           
		<div class="left">        
			<div class="panel profile_detail_panel">
				<div class="content">
					<div class="title">About Me</div>
		            <h1>{{ user.synopsis }}</h1>
		            <p>{{ user.about|nl2br }}</p>
					<!--            
					<div class="join"><a href="" target="_blank" class="btn btn-tb-action btn-tb-large">Follow me</a></div>
					-->            
				</div>
			</div>
			
			{% if user.id == 2 %}
			
			<div class="panel trailgear_panel">
				<div class="content">
					<div class="title">My favourite gear</div>
					<div class="gear_list">
						<div class="gear">
							<div class="photo"><img src="https://s3-eu-west-1.amazonaws.com/trailburning-assets/images/brands/salomon/Speedcross3.jpg" /></div>
							<h1>Speedcross 3</h1>
							<h2>Salomon</h2>
						</div>
						<div class="gear">
							<div class="photo"><img src="https://s3-eu-west-1.amazonaws.com/trailburning-assets/images/brands/ashmei/sweatshirt.jpg" /></div>
							<h1>Merino Sweatshirt</h1>
							<h2>Ashmei</h2>
						</div>
						<div class="gear">
							<div class="photo"><img src="https://s3-eu-west-1.amazonaws.com/trailburning-assets/images/brands/nathan/VaporShape.jpg" /></div>
							<h1>VaporShape</h1>
							<h2>Nathan</h2>
						</div>            
					</div>            
				</div>                              
			</div>
			
			{% endif %}
			
			</div>
			<div class="right">
		
            {% if routes %}
				<div class="panel tops_trails_panel">
					<div class="title">My Top Trails</div>
					{% for route in routes %}
					    <div class="top_trail">
	                        <a href="{{ path('trail', {'trailSlug': route.slug}) }}">
								<div class="tb-photo-btn">
									<div class="image_container"><img src="http://app.resrc.it/O=80/http://s3-eu-west-1.amazonaws.com/{{ route.media.versions[0].path }}" class="resrc scale" border="0"/></div>
									<div class="trail_title">
										<h1 class="title_shadow">{{ route.name}}</h1>
										<br/>
										<h1 class="title_shadow">{{ route.region }}</h1>
									</div>
								</div>
							</a>
						</div>
					{% endfor %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}

<script type="text/template" id="profileMapViewTemplate">
	<div id='profile_map'></div>
	<div id='profile_map_overlay'></div>
</script>

{% endblock %}