{% extends "::base.html.twig" %}

{% block title %}Editorials{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/editorials.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<script>
var TB_APP = 'EditorialsApp';
</script>

<div id="big_sponsor_bar">
	<div class="sponsor_content">
		<div class="link"><a href="{{ app.request.baseUrl }}/"><img src="{{ asset('assets/img/sponsor/arrow_big.png') }}">&nbsp;&nbsp;&nbsp;&nbsp;Back to home page</a></div>
		<div class="brand">
			<div class="strap">#Inspire brought to you by</div>
			<div class="logo"><a href="{{ path('profile', {'name': 'ashmei'}) }}"><img src="https://s3-eu-west-1.amazonaws.com/trailburning-assets/images/profile/ashmei/editorial_sponsor_logo_big.png" border="0"></a></div>
		</div>
	</div>
</div>

<div id="small_sponsor_bar">
	<div class="sponsor_content">
		<div class="link"><a href="{{ app.request.baseUrl }}/"><img src="{{ asset('assets/img/sponsor/arrow_small.png') }}">&nbsp;&nbsp;&nbsp;&nbsp;Back to home page</a></div>
		<div class="brand">
			<div class="strap">#Inspire brought to you by</div>
			<div class="logo"><a href="{{ path('profile', {'name': 'ashmei'}) }}"><img src="https://s3-eu-west-1.amazonaws.com/trailburning-assets/images/profile/ashmei/editorial_sponsor_logo_small.png" border="0"></a></div>
		</div>
	</div>
</div>

<div class="panel_content">          
	<div class="panels clearfix">               	
		<div class="panel editorials_panel">
			{% for editorial in editorials %}
                {% if loop.first %}
        			<div class="editorial clearfix">
        				<div class="title"><h2 class="tb">{{ editorial.title|nl2br }}</h2></div>
						<div class="tb-avatar tb-avatar-feature"><div class="photo"><a href="{{ path('profile', {name: editorial.user.name}) }}">
	            	  	{% if editorial.user.avatar %}
	                		<img src="https://s3-eu-west-1.amazonaws.com/trailburning-assets/images/profile/{{ editorial.user.name }}/avatar.jpg">
	            	  	{% elseif editorial.user.avatarGravatar %}
	                		<img src="{{ editorial.user.avatarGravatar }}">
	            	  	{% else %}
	                		<img src="{{ asset('assets/img/avatar_man.jpg') }}">
	            	  	{% endif %}
        				</a></div></div>
        				<div class="hero">
        					<a href="{{ path('editorial', {slug: editorial.slug}) }}">
        					<div class="image_container fade_on_load"><img src="http://app.resrc.it/o=80/http://s3-eu-west-1.amazonaws.com/trailburning-assets/images/editorial/{{ editorial.slug }}/{{ editorial.image }}" class="scale"></div>
        					</a>
        				</div>						
        				<div class="details">
        					<div class="author">
        						<h4 class="tb">by <strong>{{ editorial.user.title }}</strong></h4><span class="date">{{ editorial.date|date('d/m/Y') }}</span>
        					</div>
        		  			<div class="share_bar">
              					{{ include('TBFrontendBundle:Default:share.html.twig', {url: url('editorial', {slug: editorial.slug}) }) }}
        		  			</div>
        				</div>
        				<div class="content clearfix">
        					<div class="synopsis"><h4 class="tb">{{ editorial.synopsis }}..</h4></div>
        					<div class="more"><a class="btn btn-tb" href="{{ path('editorial', {slug: editorial.slug}) }}">More</a></div>						
        				</div>
        				<div class="line"></div>						
        			</div>
                {% else %}
        			<div class="editorial sub clearfix">
						<div class="tb-avatar tb-avatar-feature"><div class="photo"><a href="{{ path('profile', {name: editorial.user.name}) }}">
	            	  	{% if editorial.user.avatar %}
	                		<img src="https://s3-eu-west-1.amazonaws.com/trailburning-assets/images/profile/{{ editorial.user.name }}/avatar.jpg">
	            	  	{% elseif editorial.user.avatarGravatar %}
	                		<img src="{{ editorial.user.avatarGravatar }}">
	            	  	{% else %}
	                		<img src="{{ asset('assets/img/avatar_man.jpg') }}">
	            	  	{% endif %}
        				</a></div></div>
        				<div class="title"><h2 class="tb">{{ editorial.title|nl2br }}</h2></div>
        				<div class="hero">
        					<a href="{{ path('editorial', {slug: editorial.slug}) }}">
        					<div class="image_container fade_on_load"><img src="http://app.resrc.it/o=80/http://s3-eu-west-1.amazonaws.com/trailburning-assets/images/editorial/{{ editorial.slug }}/{{ editorial.image }}" class="scale"></div>
        					</a>
        				</div>				
        				<div class="description">							
        					<div class="details">
        						<div class="author clearfix">
        							<h4 class="tb">by <strong>{{ editorial.user.title }}</strong></h4><span class="date">{{ editorial.date|date('d/m/Y') }}</span>
        						</div>
        					</div>
        					<div class="content">
        						<div class="synopsis"><h4 class="tb">{{ editorial.synopsis }}..</h4></div>
        					</div>
        		  			<div class="share_bar">
              					{{ include('TBFrontendBundle:Default:share.html.twig', {url: url('editorial', {slug: editorial.slug}) }) }}	 
        						<div class="more"><a class="btn btn-tb" href="{{ path('editorial', {slug: editorial.slug}) }}">More</a></div>						
        		  			</div>
        				</div>
        				<div class="line"></div>						
        			</div>
                {% endif %}
			{% endfor %}	
	  	</div>
	</div>
</div>  

{% endblock %}
