{% extends "::base.html.twig" %}

{% block title %}{{ editorial.title }}{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/editorial.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<script>
var TB_APP = 'EditorialApp';
var TB_EDITORIAL_TRAILS = [
    {% for route in routes %}
        { long: {{ route.centroid.longitude }}, lat: {{ route.centroid.latitude }}, short_name: "{{ route.shortName }}", region: "{{ route.region }}", url: "{{ path('editorial_trail', {trailSlug: route.slug, editorialSlug: editorial.slug}) }}" },          
    {% endfor %}
];
</script>

<div id="big_sponsor_bar">
	<div class="sponsor_content">
		<div class="link"><a href="{{ app.request.baseUrl }}/"><img src="{{ asset('assets/img/sponsor/arrow_big.png') }}">&nbsp;&nbsp;&nbsp;&nbsp;Back to home page</a></div>
		<div class="brand">
			<div class="strap">This issue of #Discover has been brought to you by</div>
			<div class="logo"><a href="{{ path('profile', {'name': 'ashmei'}) }}"><img src="https://s3-eu-west-1.amazonaws.com/trailburning-assets/images/profile/ashmei/editorial_sponsor_logo_big.png" border="0"></a></div>
		</div>
	</div>
</div>

<div id="small_sponsor_bar">
	<div class="sponsor_content">
		<div class="link"><a href="{{ app.request.baseUrl }}/"><img src="{{ asset('assets/img/sponsor/arrow_small.png') }}">&nbsp;&nbsp;&nbsp;&nbsp;Back to home page</a></div>
		<div class="brand">
			<div class="strap">This issue of #Discover has been brought to you by</div>
			<div class="logo"><a href="{{ path('profile', {'name': 'ashmei'}) }}"><img src="https://s3-eu-west-1.amazonaws.com/trailburning-assets/images/profile/ashmei/editorial_sponsor_logo_small.png" border="0"></a></div>
		</div>
	</div>
</div>

<div id="discover_bar"></div>

<div class="panel_content">          
	<div class="panels clearfix">               	
		<div class="panel editorial_panel">
	  		<div class="header clearfix">
	  			<div class="title">{{ editorial.title|nl2br }}</div>
	  			<div class="avatar"><a href="{{ path('profile', {'name': editorial.user.name}) }}"><img src="https://s3-eu-west-1.amazonaws.com/trailburning-assets/images/profile/{{ editorial.user.name }}/{{ editorial.user.avatar }}"></a></div>
	  		</div>
	  		<div class="hero">
				<div class="image_container fade_on_load"><img src="http://app.resrc.it/o=80/http://s3-eu-west-1.amazonaws.com/trailburning-assets/images/editorial/{{ editorial.slug }}/{{ editorial.image }}" class="scale"></div>
			</div>
	  		<div class="content">
	  			<div class="content_header">
		  			<div class="header">by <strong>{{ editorial.user.title }}</strong>&nbsp;&nbsp;&nbsp;<span class="date">{{ editorial.date|date('d/m/Y') }}</span></div>
		  			<div class="line"></div>
		  			<div class="share_bar">
      					{{ include('TBFrontendBundle:Default:share.html.twig') }} 	  				
		  			</div>
	  			</div>	  			
	  			
				<div id="column_wrapper_intro" class="column_wrapper">
	  			<div class="columns">
	  			<h4 class="tb">	  				
Trailburning #Discover is our new section that pulls together a collection of trails into a single story. By featuring multiple Trail Cards in a #Discover article Trailburning becomes greater than the sum of its parts.
				</h4>
	  			<h4 class="tb">	  				
Expect to read editorialised journeys by those who trek the trails alongside articles that inspire people to get out there and run in an event or travel to distant trail regions.
				</h4>
				<p>
It's a simple idea, we just want an easy way to present trails. If #Discover starts to function as a trail runner's to-do list or a hiker's weekend guide –  job done!
				</p>
				<p>
Each article in #Discover will have a common theme to stir your wanderlust, which brings me to the first #Discover – the Alps. When the team decided to feature the Alps all I could think about was getting lost, getting off the beaten track in the foothills of the Alps on a hike.  
				</p>
				<p>
But by getting lost, I really mean getting found. I want to find the lake halfway up the mountainside captured by a fellow trailburner or take the trail in Reuban's beautiful photo so I can pat the cow (see below). 
				</p>
				<p>
So as a dedication to all those who would also like to pat the cow and ‘get lost’, the Trailburning team presents #Discover. Enjoy!
				</p>
	  			</div>	  			
	  			</div>	  			
	  			
	  			<div id="trail_header" class="section_header clearfix">
		  			<div class="header"><h2 class="tb">Discover the Trails</h2></div>
		  			<div class="line"></div>
	  			</div>

				<div class="editorial_cards clearfix">
                {% if routes %}
                	{% for route in routes %}
						{% if route.id == 144 %}
						<div class="editorial_card">
							<div class="sticker_container">			
							{{ include('TBFrontendBundle:Trail:editorial_trailcard.html.twig', {route: route, editorial: editorial}) }}
							</div>
							
							<div class="card_column_wrapper column_wrapper">
				  			<div class="columns">							
				  			<h4 class="tb">The gentle sound of distant cowbells drifts around the valley as we weave up and down through the trees on this rolling alpine trail.  It’s ‘flat’ we are told by our guide, Julia, bursting lungs and crying legs suggest otherwise…  it’s alpine flat!</h4>
							<p>
							There are seven of us, plus Julia of <a href="http://www.tracks-and-trails.com/index.php/eng/Running-Fitness/Scheduled-Departures/Trail-Running-Camps"  onClick="trackOutboundLink(this, 'Outbound Links', 'tracks-and-trails.com'); return false;">Tracks and Trails</a>, running through the Chamonix Valley, following the route of the Mont Blanc Marathon.  We started early, buzzing alarms waking us at 6am…  The trail started out easy, but quickly got steeper, passing through alpine meadows, villages, woods and over rivers.  
							</p>
							<p>
							We move quickly through the mountains, mostly climbing, but at a pace where we can talk.  The air is clean and crisp and yet despite being at over 1300 metres (4200 feet) it seems easy to breath, it is a joy to run!  Then we start climbing for real and sweat pours from us in the increasing midday heat.  
							</p>
							<p>
							The views are on another level as Mont Blanc peeps out from behind the clouds and watches over as we run in her shadow.  Finally we run along a narrow ridge to the summit of L’Aguillette des Posettes where we stop for lunch.  What goes up must come down, a 1000 metre (3300 feet) descent, twisting and turning down the mountain, dropping over rocks, always losing height.
							</p>
							<p>
							Eventually we reach the bottom, and in true alpine style we find a small cafe serving cake and strong coffee.  Then it’s just a matter of a 10km (6 mile) jog back to Chamonix in time for a beer, some French cuisine and a much needed bed.
							<div class="summary">
					        <strong>Reuben Tabner</strong>
					        <br/>
					        <a href="http://www.reubentabner.com" target="_blank">Trail Running Team</a>
					        </div>
							</p>
							</div>
							</div>
							
						</div>							
			        	{% endif %}	        		
                    {% endfor %}

                	{% for route in routes %}
						{% if route.id == 42 %}          
						<div class="editorial_card align_right">      	
							<div class="card_column_wrapper column_wrapper">
				  			<div class="columns">
							<h4 class="tb">What I loved about this trail was the constant change of scenery and trail condition paired with beautiful views of the Matterhorn.</h4>
							<p>
							There is a lot of up and down packed into 46 km, you start off with a steep ascent right from the start and the trail turns technical quickly, I loved this!  You can also expect to see Marmots and herds of Zermatt’s famous Blackneck Goats.
							</p>
							<p>
							If you’re looking to get into ultra running with a challenge in the vertical then this is the race for you.  The distance is optimal with plenty of refreshment stops.  Most importantly though, the scenery is breathtaking along the whole course and can’t be beat.
							</p>
							<p>
							Zermatt is a car-free village so you'll need to take a train there.  Plan on coming a few days earlier to get acclimatised and stay a few days extra to take in all the natural beauty.
							</p>
							<p>
							For those wanting something more relaxing, you can go skiing on the glacier, hike, paraglide or take the Glacier Express train from Zermatt to St. Moritz. 
							<div class="summary">
				            <strong>Christian Langenegger</strong>
				            <br/>
				          	<a href="http://www.dromeus.com" target="_blank">Dromeus – Discovering the Pleasure of Running</a>
					        </div>				
							</p>
							</div>
							</div>
							<div class="sticker_container">			
							{{ include('TBFrontendBundle:Trail:editorial_trailcard.html.twig', {route: route, editorial: editorial}) }}
							</div>
						</div>				
			        	{% endif %}	        		
                    {% endfor %}

                	{% for route in routes %}
						{% if route.id == 121 %}    
						<div class="editorial_card">
							<div class="sticker_container">			
							{{ include('TBFrontendBundle:Trail:editorial_trailcard.html.twig', {route: route, editorial: editorial}) }}
							</div>     
							<div class="card_column_wrapper column_wrapper">
				  			<div class="columns">
							<h4 class="tb">Also in Switzerland and located in the Grindelwald region, the Eiger Ultra Trail race takes place in the shadow of the famous North Face of the Eiger.</h4>
							<p>
							Traversing the base of the North Face is both a spectacular and unforgettable experience, and with three race distances to choose from there's something for every mountain trail runner - or indeed anyone wanting to get into mountain trail running!
							</p>
							<p>
							The Grindelwald is accessable by both car and train and also offers winter sports, for the more experienced there is the Eiger glacier!    																
							</p>
							<p>
							<a href="http://www.uelisteck.ch" target="_blank">Ueli Steck</a> - 'The Swiss Machine' refers to the Eiger Ultra Trail as 'harder than the North Face solo'.  Considering Ueli's speed record of the <a href="http://www.youtube.com/watch?v=OmGcRIIIxK8" target="_blank">North Face</a> that certainly says something about the event!
							</p>
				  			</div>
				  			</div>				
				  		</div>		       	
			        	{% endif %}	        		
                    {% endfor %}
  				{% endif %}  
  				</div>
	  			
	  			<div id="region_header" class="section_header clearfix">
		  			<div class="header"><h2 class="tb">Discover the Region</h2></div>
		  			<div class="line"></div>
	  			</div>
	  			
				<div id="editorial_region_view">		  				
					<div id="editorial_map_view" class="editorial_map"></div>		  				
	            	<div class='border_top'></div>
	            	<div class='border_left'></div>
  				</div>

	  		</div>		  		
	  	</div>
	</div>
</div>  

{% endblock %}

{% block javascripts %}
<script type="text/template" id="editorialMapViewTemplate">
  <div id='map'></div>  
</script>
<script src="{{ asset('assets/js/libs/jquery.columnizer.js') }}"></script>

{% endblock %}