{% extends "::base.html.twig" %}

{% block title %}{{ editorial.title }}{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/editorial.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<script>
var TB_APP = 'EditorialApp';
var TB_EDITORIAL_TRAILS = [
    {% for route in routes %}
        { long: {{ route.centroid.longitude }}, lat: {{ route.centroid.latitude }}, short_name: "{{ route.shortName }}", region: "{{ route.region }}", url: "{{ path('editorial_trail', {trailSlug: route.slug, editorialSlug: editorial.slug}) }}" },          
    {% endfor %}
];
</script>

<div id="big_sponsor_bar">
	<div class="sponsor_content">
		<div class="link"><a href="{{ app.request.baseUrl }}/editorials"><img src="{{ asset('assets/img/sponsor/arrow_big.png') }}">&nbsp;&nbsp;&nbsp;&nbsp;Back to editorials</a></div>
		<div class="brand">
			<div class="strap">This editorial has been brought to you by</div>
			<div class="logo"><a href="{{ path('profile', {'name': 'ashmei'}) }}"><img src="https://s3-eu-west-1.amazonaws.com/trailburning-assets/images/profile/ashmei/editorial_sponsor_logo_big.png" border="0"></a></div>
		</div>
	</div>
</div>

<div id="small_sponsor_bar">
	<div class="sponsor_content">
		<div class="link"><a href="{{ app.request.baseUrl }}/editorials"><img src="{{ asset('assets/img/sponsor/arrow_small.png') }}">&nbsp;&nbsp;&nbsp;&nbsp;Back to editorials</a></div>
		<div class="brand">
			<div class="strap">This editorial has been brought to you by</div>
			<div class="logo"><a href="{{ path('profile', {'name': 'ashmei'}) }}"><img src="https://s3-eu-west-1.amazonaws.com/trailburning-assets/images/profile/ashmei/editorial_sponsor_logo_small.png" border="0"></a></div>
		</div>
	</div>
</div>

<div class="panel_content">          
	<div class="panels clearfix">               	
		<div class="panel editorial_panel">
	  		<div class="header clearfix">
	  			<div class="title">{{ editorial.title|nl2br }}</div>
	  			<div class="avatar"><img src="https://s3-eu-west-1.amazonaws.com/trailburning-assets/images/profile/{{ editorial.user.name }}/{{ editorial.user.avatar }}"></div>
	  		</div>
	  		<div class="hero">
				<div class="image_container fade_on_load"><img src="http://app.resrc.it/o=80/http://s3-eu-west-1.amazonaws.com/trailburning-assets/images/editorial/{{ editorial.slug }}/{{ editorial.image }}" class="scale"></div>
			</div>
	  		<div class="content">
	  			<div class="content_header">
		  			<div class="header">by <strong>{{ editorial.user.title }}</strong>&nbsp;&nbsp;&nbsp;<span class="date">{{ editorial.date|date('d/m/Y') }}</span></div>
		  			<div class="line"></div>
		  			<div class="share_bar">
      					{{ include('TBFrontendBundle:Default:share.html.twig') }} 	  				
		  			</div>
	  			</div>	  			
				<div id="column_wrapper">
	  			<div class="columns">
	  			<h4 class="tb">
		        <div class="card_avatar"><a href="jan/trail/chamonix"><img src="{{ asset('assets/img/guide_share.png') }}"></a></div>
		        <div class="card_title"><a href="jan/trail/chamonix">A Trail Running Team Alpine Adventure</a></div>	  				
				</h4>
				<p>
				The gentle sound of distant cowbells drifts around the valley as we weave up and down through the trees on this rolling alpine trail.  It’s ‘flat’ we are told by our guide, Julia, bursting lungs and crying legs suggest otherwise…  it’s alpine flat! 
				</p>
				<p>
				There are seven of us, plus Julia, running through the Chamonix Valley, following the route of the Mont Blanc Marathon.  We started early, buzzing alarms waking us at 6am…  The trail started out easy, but quickly got steeper, passing through alpine meadows, villages, woods and over rivers.  We move quickly through the mountains, mostly climbing, but at a pace where we can talk.  The air is clean and crisp and yet despite being at over 1300 metres (4200 feet) it seems easy to breath, it is a joy to run!
				</p>
				<p>
				Then we start climbing for real and sweat pours from us in the increasing midday heat.  The views are on another level as Mont Blanc peeps out from behind the clouds and watches over as we run in her shadow.  Finally we run along a narrow ridge to the summit of L’Aguillette des Posettes where we stop for some much needed lunch.  What goes up must come down, a 1000 metre (3300 feet) descent, twisting and turning down the mountain, dropping over rocks, always losing height.
				</p>
				<p>
				Eventually we reach the bottom, and in true alpine style we find a small cafe serving cake and strong coffee.  Then it’s just a matter of a 10km (6 mile) jog back to Chamonix in time for a beer, some French cuisine and a much needed bed.
				<div class="summary">
		        <strong>Reuben Tabner</strong>
		        <br/>
		        <a href="http://www.reubentabner.com" target="_blank">Trail Running Team</a>
		        </div>
				</p>
				<h4 class="tb">
		        <div class="card_avatar"><a href="jan/trail/46km"><img src="{{ asset('assets/img/guide_share.png') }}"></a></div>
		        <div class="card_title"><a href="jan/trail/46km">Matterhorn Ultraks 46km - Race Report</a></div>
				</h4>
				<p>
				What I loved about this trail was the constant change of scenery and trail condition paired with beautiful views of the Matterhorn.  
				</p>
				<p>
				There is a lot of up and down packed into 46 km, you start off with a steep ascent right from the start and the trail turns technical quickly, I loved this!  You can also expect to see Marmots and herds of Zermatt’s famous Blackneck Goats.
				</p>
				<p>
				If you’re looking to get into ultra running with a challenge in the vertical then this is the race for you.  The distance is optimal with plenty of refreshment stops.  Most importantly though, the scenery is breathtaking along the whole course and can’t be beat.
				<div class="summary">
	            <strong>Christian Langenegger</strong>
	            <br/>
	          	<a href="http://www.dromeus.com" target="_blank">Dromeus – Discovering the Pleasure of Running</a>
		        </div>				
				</p>
				<h4 class="tb">
		        <div class="card_avatar"><a href="jan/trail/e51"><img src="{{ asset('assets/img/guide_share.png') }}"></a></div>
		        <div class="card_title"><a href="jan/trail/e51">Eiger Ultra Trail</a></div>
				</h4>
				<p>
				Also in Switzerland and located in the Grindelwald region, the Eiger Ultra Trail takes place in the shadow of the famous North Face of the Eiger.
				</p>
				<p>
				<a href="http://www.uelisteck.ch" target="_blank">Ueli Steck</a> - 'The Swiss Machine' referes to the Eiger Ultra Trail as 'harder than the North Face solo'.  Considering Ueli's speed record of the <a href="http://www.youtube.com/watch?v=OmGcRIIIxK8" target="_blank">North Face</a> that certainly says something about the event!
				</p>
	  			</div>
	  			</div>
	  			
	  			<div class="map_header clearfix">
		  			<div class="header">Discover the Trails</div>
		  			<div class="line"></div>
	  			</div>
	  				
				<div id="editorial_region_view">		  				
					<div id="editorial_map_view" class="editorial_map"></div>		  				
	            	<div class='border_top'></div>
	            	<div class='border_left'></div>
  				</div>
  				
                {% if routes %}
    			    <div class="editorial_cards clearfix">  
                        {% for route in routes %}
                             {{ include('TBFrontendBundle:Trail:editorial_trailcard.html.twig', {route: route, editorial: editorial}) }} 
                        {% endfor %}
    		  		</div>		  		
  				{% endif %}  
	  		</div>		  		
	  	</div>
	</div>
</div>  

{% endblock %}

{% block javascripts %}
<script type="text/template" id="editorialMapViewTemplate">
  <div id='map'></div>  
</script>
<script src="{{ asset('assets/js/libs/jquery.columnizer.js') }}"></script>

{% endblock %}